{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load aka_tags %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,user-scalable=yes">
        <title>Sullissivik</title>
        <meta name="description" content="">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'js/locale.js' %}"></script>
        {% block extra_headers %}{% endblock %}
        <script type="text/javascript">
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            $.ajaxPrefilter(function(options, originalOptions, jqXHR) {
                if (!options.headers) options.headers = {};
                options.headers["X-CSRFToken"] = getCookie('csrftoken');
            });
        </script>
    </head>
    <body>

    {% csrf_token %}
        <div class="wrapper">
            <header class="globalheader">
                <div class="globalheader-wrapper">
                    <h1 class="globalheader-heading">
                        <a href="#" class="router-link-exact-active router-link-active">
                            <img src="{% static 'img/sullissivik_logo_gl.svg' %}" alt="Sullissivik" class="globalheader-logo">
                        </a>
                    </h1>
                    <div class="locale-changer">
                        <span id="locale_flag" class="option-{{LANGUAGE_CODE|split:'-'|first}}"></span>
                        <select class="dropdown" data-locale-changer="true" data-locale-flag="#locale_flag">
                            <option value="kl" {% if LANGUAGE_CODE|split:'-'|first == 'kl' %}selected="selected"{% endif %}>Kalaallisut</option>
                            <option value="da" {% if LANGUAGE_CODE|split:'-'|first == 'da' %}selected="selected"{% endif %}>Dansk</option>
                        </select>
                    </div>
                </div>
            </header>
            <main>
                {% block content %}
                {% endblock %}
            </main>
            <footer>
                <div class="footer-wrapper">
                    Footer
                </div>
            </footer>
        </div>
    </body>
</html>
