{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load aka_tags %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,user-scalable=yes">
        <title>Sullissivik</title>
        <meta name="description" content="">
        {% if not pdf %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/header_footer.css' %}"/>
            <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
            <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
            <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
            <script type="text/javascript" src="{% url 'aka:javascript-language-catalog' locale='da' %}"></script>
            <script type="text/javascript" src="{% url 'aka:javascript-language-catalog' locale='kl' %}"></script>
            <script type="text/javascript" src="{% static 'js/cookies.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/locale.js' %}"></script>
            <script type="text/javascript">
                $(function() {
                    $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
                        if (!options.headers) options.headers = {};
                        options.headers["X-CSRFToken"] = django.getCookie('csrftoken');
                    });
                    $(".btn-print").click(window.print.bind(window));
                    $('input[type="submit"]').click(function(){
                        $(this).parents("form").addClass('submitted');
                    });
                });
            </script>
        {% endif %}
        {% block extra_headers %}{% endblock %}
    </head>
    <body class="{% if pdf %}pdf{% endif %}">
        <div class="wrapper">
            {% if not pdf %}
            <header class="globalheader printhide">
                <div class="globalheader-wrapper">
                    <h1 class="globalheader-heading">
                        <a href="{% url 'aka:index' %}" class="router-link-exact-active router-link-active">
                            <img src="{% static 'img/sullissivik_logo_gl.svg' %}" alt="Sullissivik" class="globalheader-logo">
                        </a>
                    </h1>
                    <div class="locale-changer">
                        <span id="locale_flag" class="option-{{LANGUAGE_CODE|split:'-'|first}}"></span>
                        <select class="dropdown" data-locale-changer="true" data-locale-flag="#locale_flag" autocomplete="off">
                            <option value="kl" {% if LANGUAGE_CODE|split:'-'|first == 'kl' %}selected="selected"{% endif %}>Kalaallisut</option>
                            <option value="da" {% if LANGUAGE_CODE|split:'-'|first == 'da' %}selected="selected"{% endif %}>Dansk</option>
                        </select>
                    </div>
                </div>
            </header>
            {% endif %}
            <main>
                {% block content %}
                {% endblock %}
            </main>
            {% if not pdf %}
            <footer>
                <div class="footer-wrapper">
                    Footer
                </div>
            </footer>
            {% endif %}
        </div>
    </body>
</html>
