{% extends 'base.html' %}
{% load static %}

{% block extra_headers %}
<link rel="stylesheet" type="text/css" href="{% static 'css/toc.css' %}"/>
{% endblock %}

{% block content %}
<nav class="toc">
    <a href="/vue/#/rentenota" class="toc-link">
        <span>Hent rentenota</span>
    </a>
    <hr>
    <a href="/vue/#/indberetning" class="toc-link">
        <span>Indberet fordring</span>
    </a>
    <a href="/vue/#/indberetning/upload" class="toc-link">
        <span>Upload fordring</span>
    </a>
    <a href="{% url 'nedskrivning' %}" class="toc-link">
        <span>Indberet nedskrivning</span>
    </a>
    <a href="{% url 'nedskrivning-upload' %}" class="toc-link">
        <span>Upload nedskrivning</span>
    </a>
    <a href="{% url 'loentraek' %}" class="toc-link">
        <span>Indberet løntræk</span>
    </a>
    <a href="{% url 'loentraek-upload' %}" class="toc-link">
        <span>Upload løntræk</span>
    </a>
</nav>
{% endblock %}
