{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_headers %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/thirdparty/jquery.datetimepicker.min.css' %}"/>
    <script type="text/javascript" src="{% static 'js/thirdparty/jquery.datetimepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/formset.js' %}"></script>
    <script type="text/javascript">
        {# Greenlandic text for date chooser #}
        {% autoescape off %}
        {% language 'kl' %}
            $(function(){
                $.datetimepicker.addLocale(
                    'kl',
                    ['{% trans 'January'|capfirst %}','{% trans 'February'|capfirst %}','{% trans 'March'|capfirst %}','{% trans 'April'|capfirst %}','{% trans 'May'|capfirst %}','{% trans 'June'|capfirst %}','{% trans 'July'|capfirst %}','{% trans 'August'|capfirst %}','{% trans 'September'|capfirst %}','{% trans 'October'|capfirst %}','{% trans 'November'|capfirst %}','{% trans 'December'|capfirst %}'],
                    ['{% trans 'Mon'|capfirst %}','{% trans 'Tue'|capfirst %}','{% trans 'Wed'|capfirst %}','{% trans 'Thu'|capfirst %}','{% trans 'Fri'|capfirst %}','{% trans 'Sat'|capfirst %}','{% trans 'Sun'|capfirst %}'],
                    ['{% trans 'Monday'|capfirst %}','{% trans 'Tuesday'|capfirst %}','{% trans 'Wednesday'|capfirst %}','{% trans 'Thursday'|capfirst %}','{% trans 'Friday'|capfirst %}','{% trans 'Saturday'|capfirst %}','{% trans 'Sunday'|capfirst %}'],
                );
                $(".datepicker").datetimepicker({timepicker:false, format:'d/m/Y', dayOfWeekStart: 1});
                $(document).on('language-change', function(event, language) {
                    $.datetimepicker.setLocale(language);
                });
                $.datetimepicker.setLocale(django.language);
            });
        {% endlanguage %}
        {% endautoescape %}
    </script>
    <script type="text/javascript" src="{% static 'js/claim.js' %}"></script>
{% endblock %}

{% block content %}
<article class="indberet_fordring">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ formset.management_form }}
        <h1 class="page-header" data-trans="fordring.title">{% trans 'fordring.title' %}</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col-4">
                    {% include 'aka/field.html' with field=form.fordringshaver key='fordring.fordringshaver' %}
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    {% include 'aka/field.html' with field=form.fordringshaver2 key='fordring.anden_fordringshaver' %}
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    {% include 'aka/field.html' with field=form.debitor key='fordring.debitor' %}
                </div>
            </div>

            <div class="row">
                <label data-trans="fordring.codebitorer">{% trans 'fordring.codebitorer' %}</label>
                <div class="col-3"><label data-trans="fordring.cpr">{% trans 'fordring.cpr' %}</label></div>
                <div class="col-3"><label data-trans="fordring.cvr">{% trans 'fordring.cvr' %}</label></div>
            </div>
            <div id="codebitorContainer">
                {% for subform in formset %}
                    {% include 'aka/claim/claimSubForm.html' with subform=subform %}
                {% endfor %}
            </div>



            <div class="row">
                <label data-trans="fordring.dokumentation">{% trans 'fordring.dokumentation' %}</label>
                <div class="col-4" id="documentationContainer">
                    <input type="file" name="documentation0"/>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    {% include 'aka/field.html' with field=form.fordringsgruppe key='fordring.fordringsgruppe' %}
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    {% include 'aka/field.html' with field=form.fordringstype key='fordring.fordringstype' %}
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    {% include 'aka/field.html' with field=form.barns_cpr key='fordring.barns_cpr' %}
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    {% include 'aka/field.html' with field=form.ekstern_sagsnummer key='fordring.ekstern_sagsnummer' %}
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    {% include 'aka/field.html' with field=form.hovedstol key='fordring.hovedstol' %}
                </div>
                <div class="col-6">
                    {% include 'aka/field.html' with field=form.hovedstol_posteringstekst key='fordring.posteringstekst' %}
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    {% include 'aka/field.html' with field=form.periodestart key='fordring.periodestart' %}
                </div>
                <div class="col-3">
                    {% include 'aka/field.html' with field=form.periodeslut key='fordring.periodeslut' %}
                </div>
                <div class="col-3">
                    {% include 'aka/field.html' with field=form.forfaldsdato key='fordring.forfaldsdato' %}
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    {% include 'aka/field.html' with field=form.betalingsdato key='fordring.betalingsdato' %}
                </div>
                <div class="col-3">
                    {% include 'aka/field.html' with field=form.foraeldelsesdato key='fordring.foraeldelsesdato' %}
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    {% include 'aka/field.html' with field=form.kontaktperson key='fordring.kontaktperson' %}
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    {% include 'aka/field.html' with field=form.noter key='fordring.noter' %}
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <input type="submit" value="{% trans 'common.gem' %}" @click="isSubmitted = true">
                </div>
            </div>

        </div>
    </form>
    <div id="codebitorFormsetPrototype" style="display: none">
        {% include 'aka/claim/claimSubForm.html' with subform=formset.empty_form %}
    </div>
</article>
{% endblock %}
