{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_headers %}
    {% include 'aka/util/calendar_headers.html' %}
    <script type="text/javascript" src="{% static 'js/formset.js' %}"></script>
    <script type="text/javascript" src="{% url 'aka:fordringsgrupper' var='groups' %}"></script>
    <script type="text/javascript" src="{% static 'js/claim.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/form.js' %}"></script>
{% endblock %}

{% block content %}
<article class="indberet_fordring">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ formset.management_form }}
        <h1 class="page-header" data-trans="fordring.title">{% trans 'fordring.title' %}</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col-4">
                    {% include 'aka/util/field.html' with field=form.fordringshaver key='fordring.fordringshaver' %}
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    {% include 'aka/util/field.html' with field=form.fordringshaver2 key='fordring.anden_fordringshaver' %}
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    {% include 'aka/util/field.html' with field=form.debitor key='fordring.debitor' %}
                </div>
            </div>

            <div class="row">
                <label data-trans="fordring.codebitorer">{% trans 'fordring.codebitorer' %}</label>
                <div class="col-3"><label data-trans="fordring.cpr">{% trans 'fordring.cpr' %}</label></div>
                <div class="col-3"><label data-trans="fordring.cvr">{% trans 'fordring.cvr' %}</label></div>
            </div>
            <div id="codebitorContainer">
                {% for subform in formset %}
                    {% include 'aka/claim/subform.html' with subform=subform %}
                {% endfor %}
            </div>



            <div class="row">
                <label data-trans="fordring.dokumentation">{% trans 'fordring.dokumentation' %}</label>
                <div class="col-4" id="documentationContainer">
                    <input type="file" name="documentation0"/>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    {% include 'aka/util/field.html' with field=form.fordringsgruppe key='fordring.fordringsgruppe' %}
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    {% include 'aka/util/field.html' with field=form.fordringstype key='fordring.fordringstype' %}
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    {% include 'aka/util/field.html' with field=form.barns_cpr key='fordring.barns_cpr' %}
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    {% include 'aka/util/field.html' with field=form.ekstern_sagsnummer key='fordring.ekstern_sagsnummer' %}
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    {% include 'aka/util/field.html' with field=form.hovedstol key='fordring.hovedstol' %}
                </div>
                <div class="col-6">
                    {% include 'aka/util/field.html' with field=form.hovedstol_posteringstekst key='fordring.posteringstekst' %}
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    {% include 'aka/util/field.html' with field=form.periodestart key='fordring.periodestart' %}
                </div>
                <div class="col-3">
                    {% include 'aka/util/field.html' with field=form.periodeslut key='fordring.periodeslut' %}
                </div>
                <div class="col-3">
                    {% include 'aka/util/field.html' with field=form.forfaldsdato key='fordring.forfaldsdato' %}
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    {% include 'aka/util/field.html' with field=form.betalingsdato key='fordring.betalingsdato' %}
                </div>
                <div class="col-3">
                    {% include 'aka/util/field.html' with field=form.foraeldelsesdato key='fordring.foraeldelsesdato' %}
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    {% include 'aka/util/field.html' with field=form.kontaktperson key='fordring.kontaktperson' %}
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    {% include 'aka/util/field.html' with field=form.noter key='fordring.noter' %}
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <button type="submit" data-trans="common.gem">{% trans 'common.gem' %}</button>
                </div>
            </div>

        </div>
    </form>
    <div id="codebitorFormsetPrototype" style="display: none">
        {% include 'aka/claim/subform.html' with subform=formset.empty_form %}
    </div>
</article>
{% endblock %}
