{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load aka_tags %}

{% block extra_headers %}
{% endblock %}

{% block content %}
<article class="success">
    {% localize off %}
    <form>
        {% if rec_ids %}
        <h1 class="page-header" data-trans="fordring.success">{% trans 'fordring.success' %}</h1>
        {% else %}
        <h1 class="page-header" data-trans="fordring.failed">{% trans 'fordring.failed' %}</h1>
        {% endif %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    {% if rec_ids %}
                        <span data-trans="fordring.result">{% trans 'fordring.result' %}</span>
                        <ul class="success-list">
                            {% for rec_id in rec_ids %}
                                <li>{{ rec_id }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if errors %}
                        <span data-trans="fordring.errors">{% trans 'fordring.errors' %}</span>
                        <ul class="error-list">
                        {% for error in errors %}
                            {% trans error.key as error_message %}
                            <li data-trans="{{ error.key }}" data-trans-params="{{ error.params|json }}">{{ error_message|format:error.params }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {% if pdf_id %}
                        <a href="{% url 'aka:inkassosag-kvittering' pdf_id=pdf_id %}" class="button" data-trans="fordring.get_receipt" target="_blank">{% trans 'fordring.get_receipt' %}</a>
                    {% endif %}
                    {% if upload %}
                        <a href="{% url 'aka:inkassosag-upload' %}" class="button"  data-trans="common.repeat">{% trans 'common.repeat' %}</a>
                    {% else %}
                        <a href="{% url 'aka:inkassosag' %}" class="button"  data-trans="common.repeat">{% trans 'common.repeat' %}</a>
                    {% endif %}
                    <a href="{% url 'aka:index' %}" class="button" data-trans="common.forside">{% trans 'common.forside' %}</a>
                </div>
            </div>
        </div>
    </form>
    {% endlocalize %}
</article>
{% endblock %}
