{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block extra_headers %}
    {% if css %}
    <style>
        {{ css|safe }}
    </style>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="col-xs-12 col-md-12 col-xl-6 offset-xl-3 col-fluid">
    <form method="post" id="mainform" enctype="multipart/form-data">
        {% csrf_token %}

        {% include "aka/util/header.html" with key="obligatorisk_pension.title" %}

        <div class="row block">
            <div class="col-12">
                {% if form.errors or formset.errors %}
                    <p class="err-msg">{% translate 'common.errors_present' %}</p>
                    {% include "aka/util/nonfield_errors.html" with form=form %}
                {% endif %}

                {% localize off %}
                <div class="row">
                    <div class="col-12">
                        {% include 'aka/util/field.html' with field=form.skatteår key='obligatorisk_pension.skatteår' %}
                    </div>
                </div>
                {% endlocalize %}

                <div class="row footer">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary" data-trans="common.næste">{% translate 'common.næste' %}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
