{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_headers %}
{% endblock %}

{% block content %}
<article class="success">
    <form>
        <h1 class="page-header" data-trans="pension.success_title">{% translate 'obligatorisk_pension.success_title' %}</h1>
        <div class="container-fluid">
            <div class="row">
                <p class="page-header" data-trans="pension.success_body">{% translate 'obligatorisk_pension.success_body' %}</p>
            </div>
        </div>
    </form>
</article>
{% endblock %}
