.notification-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
}

.notification {
    transition: all .5s;
    padding: .75rem 1.5rem;
    background-color: #31495b;
    color: #fff;
    margin: -3rem auto 0;
    box-shadow: 0 .5rem rgba(0,0,0,.1);
    min-height: 2.25rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    max-width: 75rem;
}

.notification.show {
    margin-top: 0;
}
