{% load static %}
{% load i18n %}
<link rel="stylesheet" type="text/css" href="{% static 'css/thirdparty/jquery.datetimepicker.min.css' %}"/>
<script type="text/javascript" src="{% static 'js/thirdparty/jquery.datetimepicker.js' %}"></script>
<script type="text/javascript">
    {# Greenlandic text for date chooser #}
    {% autoescape off %}
        {% language 'kl' %}
            $(function(){
                $.datetimepicker.addLocale(
                    'kl',
                    ['{% translate 'January'|capfirst %}','{% translate 'February'|capfirst %}','{% translate 'March'|capfirst %}','{% translate 'April'|capfirst %}','{% translate 'May'|capfirst %}','{% translate 'June'|capfirst %}','{% translate 'July'|capfirst %}','{% translate 'August'|capfirst %}','{% translate 'September'|capfirst %}','{% translate 'October'|capfirst %}','{% translate 'November'|capfirst %}','{% translate 'December'|capfirst %}'],
                    ['{% translate 'Mon'|capfirst %}','{% translate 'Tue'|capfirst %}','{% translate 'Wed'|capfirst %}','{% translate 'Thu'|capfirst %}','{% translate 'Fri'|capfirst %}','{% translate 'Sat'|capfirst %}','{% translate 'Sun'|capfirst %}'],
                    ['{% translate 'Monday'|capfirst %}','{% translate 'Tuesday'|capfirst %}','{% translate 'Wednesday'|capfirst %}','{% translate 'Thursday'|capfirst %}','{% translate 'Friday'|capfirst %}','{% translate 'Saturday'|capfirst %}','{% translate 'Sunday'|capfirst %}'],
                );
                $(".datepicker").datetimepicker({
                    timepicker: false,
                    format: 'd/m/Y',
                    dayOfWeekStart: 1,
                    scrollMonth: false,
                    scrollTime: false,
                    scrollInput: false
                });
                $(document).on('language-change', function(event, language) {
                    $.datetimepicker.setLocale(language);
                });
                $.datetimepicker.setLocale(django.language);
            });
        {% endlanguage %}
    {% endautoescape %}
</script>
