{% load i18n %}
{% load aka_tags %}
<div class="input{% if field.errors %} has-error{% endif %}" data-field="{{ field.id_for_label }}">
    {% if key %}
        <label for="{{ field.id_for_label }}" data-trans="{{ key }}">{% trans key %}</label>
    {% endif %}
    {{ field }}
    <span class="err-msg" for="{{ field.id_for_label }}">
        {% if field.errors %}
            <ul class="errorlist">
                {% for error in field.errors.as_data %}
                    <li {% if error.code %}data-trans="{{ error.code }}"{% endif %} {% if error.params %}data-trans-params="{{ error.params|json }}"{% endif %}>
                        {% if error.code %}
                            {% trans error.code as error_message %}
                            {% if error_message != error.code %}
                                {{ error_message|format:error.params }}
                            {% elif error.message %}
                                {% trans error.message as error_message %}
                                {{ error_message }} ||
                                {{ error_message|format:error.params }}
                            {% endif %}
                        {% else %}
                            NOT CODE
                            {{ error }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </span>
</div>
