{% load i18n %}
{% load aka_tags %}
<div class="row file_container">
    <label data-trans="{{ label }}">{% translate label %}</label>
    <div class="doc_file prototype" style="display:none">
        <div style="width: 40%; display: inline-block">
            {{ form.file_data_0 }}
        </div>
        <div style="width: 40%; display: inline-block">
            {{ form.file_description_0 }}
        </div>
        <div style="width: 19%; display: inline-block; vertical-align: top">
            <button type="button" class="close" data-trans="common.slet">{% translate 'common.slet' %}</button>
        </div>
    </div>
</div>
