/*
 * COLORS
    
    background white #fff
    background grey #eaecee

    header bg #63389b
    darker header bg #42205d
    desaturated header bg #522e80

    text #31495b
    slightly lighter text color #465c6c

    link hover #83929D
    result fitler #d6dbde

    cta #fbb03b
    cta hover #fbb84f

*/


/* 
 * ELEMENT STYLES
 */

* {
    box-sizing: border-box;
}

body {
    font: 1em/1.5 Arial, sans-serif;
    background-color: #eaecee; 
    color: #31495b;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
    position: relative;
}

a,
a:link,
a:visited {
    color: #31495b;
}

a:hover,
a:active {
    color: #83929D;
}

h1,
h2,
h3,
h4 {
    font-weight: bold;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.125rem;
}

h4 {
    font-size: 1rem;
}

form {
    margin: 1rem 0;
}

fieldset {
    border: none;
    margin: 1rem 0;
}

label {
    display: block;
    margin: .5rem 0 0;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"],
input[type="password"],
textarea {
    border: solid 1px #d6dbde;
    border-radius: .175rem;
    padding: .5rem .75rem;
    font-size: 1rem;
    background-color: #fff;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
    border-color: #83929D;
}

button,
input[type="submit"] {
    color: #fff;
    border: none;
    padding: .5rem 2rem;
    font-size: 1rem;
}

button {
    background-color: #31495b;
}

button:hover,
button:active {
    background-color: #83929D;
}

input[type="submit"] {
    background-color: #fbb03b;
}

input[type="submit"]:hover,
input[type="submit"]:active {
    background-color: #fbb84f;
}

article {
    background-color: #fff;
    padding: 1rem 2rem;
}


/* 
 * TILE LAYOUT CLASSES
 */

.tile-a,
.tile-a:link,
.tile-a:visited {
    text-decoration: none;
    background-color: #31495b;
    color: #fff;
    padding: 2.5rem 4rem 3.125rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: 0 0 1rem;
    font-size: 1.125em;
}

.tile-a:hover,
.tile-a:active {
    background-color: #83929D;
    color: #fff;
}

.tile-a--icon {
    height: 3rem;
    width: auto;
    margin: 0 0 1.25rem;
}

.tile-b {
    display: block;
    background-color: #fff;
    color: #31495b;
    padding: 1.5rem 2rem;
}

.tile-b--header,
.tile-b--header:link,
.tile-b--header:visited {
    font-size: 1.5em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    margin: 0 0 2.25rem;
}

.tile-b--headertext {
    border-bottom: solid 2px #31495b;
}

.tile-b--icon {
    width: auto;
    height: 2.25rem;
    background-color: #fff;
    margin: 0 1rem 0 0;
}

.tile-b--icon .st12 {
    fill: #31495b !important;
}

.tile-b--category,
.tile-b--category:link,
.tile-b--category:visited {
    background-color: #31495b;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: .125rem .5rem;
    margin: 0 .5rem .5rem 0;
}

.tile-b--category:hover,
.tile-b--category:active {
    background-color: #83929D;
}

.tile-b--more,
.tile-b--more:link,
.tile-b--more:visited {
    opacity: .5;
    display: block;
    margin-top: 4rem;
    text-decoration: underline;
}

.tile-c,
.tile-c:link,
.tile-c:visited {
    padding: 1.5rem 2rem;
    display: block;
    background-color: #31495b;
    color: #fff;
    text-decoration: none;
}

.tile-c--header {
    font-size: 1.5em;
    display: block;
    margin-bottom: 1.25rem;
}

.tile-c--byline {
    color: #fbb03b;
    display: block;
}

.tile-c--more {
    display: block;
    margin-top: 4rem;
    opacity: .5;
}

.tile-c:hover,
.tile-c:active {
    background-color: #83929D;
}
