{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block extra_headers %}
    <script type="text/javascript" src="{% static 'js/form.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/payroll.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="col-xs-12 col-md-12 col-xl-6 offset-xl-3 col-fluid">
        <form method="post" id="mainform">
            {% csrf_token %}
            {{ formset.management_form }}


            {% include "aka/util/header.html" with key="loentraek.title" %}

            <div class="row block">
                <div class="col-12">

                    {% if form.errors or formset.errors %}
                        <p class="err-msg">{% translate 'common.errors_present' %}</p>
                        {% include "aka/util/nonfield_errors.html" with form=form %}
                    {% endif %}

                    {% localize off %}
                    <div class="row">
                        <div class="col-12">
                            {% include 'aka/util/field.html' with field=form.year key='loentraek.year' %}
                            {% include 'aka/util/field.html' with field=form.month key='loentraek.month' %}
                        </div>
                    </div>
                    {% endlocalize %}

                    <div class="row">
                        <div class="col-12">
                            {% include 'aka/util/field.html' with field=form.total_amount key='loentraek.total_amount' %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-3"><label data-trans="loentraek.cpr">{% translate 'loentraek.cpr' %}</label></div>
                        <div class="col-3"><label data-trans="loentraek.agreement_number">{% translate 'loentraek.agreement_number' %}</label></div>
                        <div class="col-3"><label data-trans="loentraek.amount">{% translate 'loentraek.amount' %}</label></div>
                        <div class="col-3"><label data-trans="loentraek.net_salary">{% translate 'loentraek.net_salary' %}</label></div>
                    </div>

                    <div id="formsetContainer">
                        {% for subform in formset %}
                            {% include 'løntræk/subform.html' with subform=subform %}
                        {% endfor %}
                    </div>

                    <div class="row footer">
                        <div class="col-12">
                        <button type="button" id="add-row" class="btn btn-primary">+</button>
                            <button type="submit" class="btn btn-primary" data-trans="common.gem">{% translate 'common.gem' %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div id="formsetPrototype" style="display: none">
            {% include 'løntræk/subform.html' with subform=formset.empty_form %}
        </div>
    </div>
{% endblock %}
