# Created by https://www.gitignore.io/api/node
assets/fordringsgruppe.js 


### Node ###
# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/

# Webpack build output
assets/js/

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# vuepress build output
.vuepress/dist

# End of https://www.gitignore.io/api/node

# Makefile hack to know when to update npm
.make-updated-npm
