{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_headers %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/toc.css' %}"/>
{% endblock %}

{% block content %}

<div class="row" style="max-width: 1920px; margin:auto;">
    {% if cvr %}
        {% url 'rentenota:form' as rentenota_url %}
        {% include 'toc-item.html' with url=rentenota_url text='index.rentenota' subtext='index.rentenota.sub' linktext='index.rentenota.linktext' %}

{#        {% if claimant_ids %}#}
        {% url 'fordring:form' as inkassosag_url %}
        {% include 'toc-item.html' with url=inkassosag_url text='index.fordring' subtext='index.fordring.sub' linktext='index.fordring.linktext' %}
        {% url 'fordring:upload' as inkassosag_upload_url %}
        {% include 'toc-item.html' with url=inkassosag_upload_url text='index.fordring-upload' subtext='index.fordring-upload.sub' linktext='index.fordring.linktext' %}
        {% url 'nedskrivning:form' as nedskrivning_url %}
        {% include 'toc-item.html' with url=nedskrivning_url text='index.nedskrivning' subtext='index.nedskrivning.sub' linktext='index.nedskrivning.linktext' %}
        {% url 'nedskrivning:upload' as nedskrivning_upload_url %}
        {% include 'toc-item.html' with url=nedskrivning_upload_url text='index.nedskrivning-upload' subtext='index.nedskrivning-upload.sub' linktext='index.nedskrivning.linktext' %}
{#        {% endif %}#}

        {% url 'løntræk:form' as loentraek_url %}
        {% include 'toc-item.html' with url=loentraek_url text='index.løntræk' subtext='index.løntræk.sub' linktext='index.løntræk.linktext' %}
        {% url 'løntræk:upload' as loentraek_upload_url %}
        {% include 'toc-item.html' with url=loentraek_upload_url text='index.løntræk-upload' subtext='index.løntræk-upload.sub' linktext='index.løntræk.linktext' %}

        {% url 'udbytte:form' as udbytte_url %}
        {% include 'toc-item.html' with url=udbytte_url text='index.udbytte' subtext='index.udbytte.sub' linktext='index.udbytte.linktext' %}
    {% endif %}
    {% if cpr or cvr %}
        {% url 'konto:konto' as konto_url %}
        {% include 'toc-item.html' with url=konto_url text='index.konto' subtext='index.konto.sub' linktext='index.konto.linktext' %}
    {% endif %}
</div>

{% endblock %}
