{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
        <title>Sullissivik</title>
        <meta name="description" content="">
        <link rel="stylesheet" type="text/css" href="{% static '/css/base-styles.css' %}" />
        <link rel="shortcut icon" href="{% static '/img/favicon.ico' %}">

    </head>
    <body>

        <header>
            <h1>Sullissivik selvbetjening</h1>
            <article id="langlog">
                <span style="font-size: .75em;">Sprog:</span>
                <a href="#" id="lang-gl" title="Kalaalissut">Kalaalissut</a>
                <a href="#" id="lang-da" class="active" title="Dansk">Dansk</a>
                <button id="logout">Log ud</button>
            </article>
        </header>

        <main>

            <nav>
                <a href="{% url 'akasite:indberetning' %}">Indberet fordringer</a>
            </nav>

            <div id="aka-app"></div>

        </main>

        <script type="text/javascript" src="{% static '/js/aka.js' %}"></script>
    </body>
</html>
