{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_headers %}
{% endblock %}

{% block content %}
<article class="indberet_nedskrivning">
    <form @submit.prevent="sendFormRequest()" :class="{submitted: isSubmitted}">
        <h1>{% trans 'nedskrivning.title' %}</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col-4">
                    <div>
                        <label id="lbl_fordringshaver" for="{{ form.fordringshaver.id_for_label }}">{% trans 'attributes.fordringshaver' %}</label>
                        {{ form.fordringshaver }}
                        <span class="err-msg" for="{{ form.fordringshaver.id_for_label }}"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <!--s-field name="debitor" :label="$t('attributes.debitor')" type="text" required="true" :validate="{eight_or_ten_characters: true}" v-model="debitor"/-->
                    <div>
                        <label id="lbl_debitor" for="{{ form.debitor.id_for_label }}">{% trans 'attributes.debitor' %}</label>
                        {{ form.debitor }}
                        <span class="err-msg" for="{{ form.debitor.id_for_label }}"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <!--s-field name="ekstern_sagsnummer" :label="$t('attributes.ekstern_sagsnummer')" type="text" v-model="ekstern_sagsnummer" required="true"/-->
                <div>
                    <label id="lbl_ekstern_sagsnummer" for="{{ form.ekstern_sagsnummer.id_for_label }}">{% trans 'attributes.ekstern_sagsnummer' %}</label>
                    {{ form.ekstern_sagsnummer }}
                    <span class="err-msg" for="{{ form.ekstern_sagsnummer.id_for_label }}"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <!--c-field name="beloeb" :label="$t('attributes.beloeb')" type="text" v-model="beloeb" required="true" :validate="{currency: true}"/-->
                <div>
                    <label id="lbl_beloeb" for="{{ form.beloeb.id_for_label }}">{% trans 'attributes.beloeb' %}</label>
                    {{ form.beloeb }}
                    <span class="err-msg" for="{{ form.beloeb.id_for_label }}"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <input type="submit" value="{% trans 'common.gem' %}" @click="isSubmitted = true">
            </div>
        </div>
    </form>
</article>
{% endblock %}
