{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_headers %}
{% endblock %}

{% block content %}
<article class="indberet_nedskrivning">
    <form method="post">
        {% csrf_token %}
        <h1>{% trans 'nedskrivning.title' %}</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col-4">
                    {% include 'aka/field.html' with field=form.debitor key='attributes.debitor' %}
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    {% include 'aka/field.html' with field=form.ekstern_sagsnummer key='attributes.ekstern_sagsnummer' %}
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    {% include 'aka/field.html' with field=form.beloeb key='attributes.beloeb' %}
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    {% include 'aka/field.html' with field=form.sekvensnummer key='attributes.sekvensnummer' %}
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <input type="submit" value="{% trans 'common.gem' %}" @click="isSubmitted = true">
                </div>
            </div>
        </div>
    </form>
</article>
{% endblock %}
