{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_headers %}
    <script type="text/javascript" src="{% static 'js/payroll.js' %}"></script>
{% endblock %}

{% block content %}
    <article class="indberet_loentraek">
        <form method="post" id="mainform">
            {% csrf_token %}
            {{ formset.management_form }}
            <h1 data-trans="loentraek.title">{% trans 'loentraek.title' %}</h1>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-4">
                        {% include 'aka/field.html' with field=form.year key='loentraek.year' %}
                        {% include 'aka/field.html' with field=form.month key='loentraek.month' %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        {% include 'aka/field.html' with field=form.total_amount key='loentraek.total_amount' %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-3" data-trans="loentraek.cpr">{% trans 'loentraek.cpr' %}</div>
                    <div class="col-3" data-trans="loentraek.agreement_number">{% trans 'loentraek.agreement_number' %}</div>
                    <div class="col-3" data-trans="loentraek.amount">{% trans 'loentraek.amount' %}</div>
                    <div class="col-3" data-trans="loentraek.net_salary">{% trans 'loentraek.net_salary' %}</div>
                </div>
                <div id="formsetContainer">
                    {% for subform in formset %}
                        {% include 'aka/payrollSubForm.html' with subform=subform %}
                    {% endfor %}
                </div>
                <div id="formsetPrototype" style="display: none">
                    {% include 'aka/payrollSubForm.html' with subform=formset.empty_form %}
                </div>
                <button type="button" id="add-row" class="button">+</button>

                <div class="row">
                    <div class="col-2">
                        <input type="submit" value="{% trans 'common.gem' %}" @click="isSubmitted = true">
                    </div>
                </div>
            </div>
        </form>
    </article>
{% endblock %}
