django==3.2.13
django-extra-views>=0.12.0
requests
requests[socks]
pysocks
requests_ntlm
oic>=1.2.0
httpretty
lxml>=4.2.5
zeep>=3.4.0
zeep[xmlsec]>=1.3.3
xmltodict>=0.12.0
dict2xml>=1.6.1
pdfkit
django-excel
pyexcel-xlsx
pyexcel-ods3
python-gnupg==0.4.3
gunicorn==20.0.4
whitenoise==5.2.0
psycopg2==2.8.6
pytest-django
django-watchman==1.2.0
WeasyPrint>=54.1
python-dateutil
coverage
python3-saml
django_mitid_auth @ git+https://github.com/magenta-aps/gl-django-login.git@master
