{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_headers %}
{% endblock %}

{% block content %}
    <div class="col-xs-12 col-md-12 col-xl-6 offset-xl-3 col-fluid">

        {% include "aka/util/header.html" with key="udbytte.success_title" %}

        <div class="row block">
            <p class="page-header" data-trans="udbytte.success_body">{% translate 'udbytte.success_body' %}</p>
            <div class="col-12">
                <a href="{% url 'aka:index' %}" class="btn btn-primary" data-trans="common.forside">{% translate 'common.forside' %}</a>
            </div>
        </div>
    </div>
{% endblock %}
