{% load static %}
{% load i18n %}
{% load l10n %}
{% load aka_tags %}

<div class="page-header">

    <div class="output-header">

        {% if pdf %}

            <div class="row">
                <div class="col-12-sm">
                    <h2>{{ authority.title }}</h2>
                    {% for line in authority.lines %}
                        <strong>{{ line }}</strong>
                        {% if not forloop.last %}<br/>{% endif %}
                    {% endfor %}
                </div>
            </div>

        {% else %}

            <div class="row d-flex">
                <div class="col-sm-7 flex-grow-1">
                    <h2>{{ authority.title }}</h2>
                    {% for line in authority.lines %}
                        <strong>{{ line }}</strong>
                        {% if not forloop.last %}<br/>{% endif %}
                    {% endfor %}
                    {% if regnskabskontor_note %}
                        {% translate 'konto.regnskabskontor_note' as note %}
                        <p data-trans="konto.regnskabskontor_note" data-trans-params='{{ konto_href_obj|json }}'>
                        {{ note|format:konto_href_obj|safe }}
                        </p>
                    {% endif %}
                </div>

                <div class="col-sm-5 output-actions printhide">
                    <div class="dropdown download">
                    <button class="btn btn-primary dropdown-toggle" id="download" data-bs-toggle="dropdown" aria-expanded="false">
                        {% translate "common.download" %}
                    </button>
                    <ul class="dropdown-menu">
                        {% if pdflink %}
                            <li><a class="dropdown-item" href="#" data-format="{{ key }}.pdf" data-trans="common.pdf">{% translate 'common.pdf' %}</a></li>
                        {% endif %}
                        {% if xlsxlink %}
                            <li><a class="dropdown-item" href="#" data-format="{{ key }}.xlsx" data-trans="common.xlsx">{% translate 'common.xlsx' %}</a></li>
                        {% endif %}
                        {% if odslink %}
                            <li><a class="dropdown-item" href="#" data-format="{{ key }}.ods" data-trans="common.ods">{% translate 'common.ods' %}</a></li>
                        {% endif %}
                        {% if csvlink %}
                            <li><a class="dropdown-item" href="#" data-format="{{ key }}.csv" data-trans="common.csv">{% translate 'common.csv' %}</a></li>
                        {% endif %}
                    </ul>
                </div>
                <button type="button" class="btn btn-primary btn-print" data-trans="common.print" data-printhide=".output:not(#output-{{ key }})">{% translate 'common.print' %}</button>
                </div>
            </div>
        {% endif %}

    </div>

    <hr/>
    <div class="output-details row">
        {% localize off %}
            <div class="col-sm-5">
                <span class="line">{{ company.navn }}</span>
                <span class="line">{{ company.adresse }}</span>
                <span class="line">{{ company.postnummer }} {{ rentenota_data.bynavn }}</span>
                <span class="line" data-trans="{{ company.landekode }}">{% translate company.landekode %}</span>
            </div>
            <div class="col-sm-4">
                <table class="dl-table">
                    {% if organization.phone %}
                    <tr>
                        <th data-trans="common.telefon">{% translate 'common.telefon' %}</th>
                        <td>{{ organization.phone }}</td>
                    </tr>
                    {% endif %}
                    {% if organization.fax %}
                        <tr>
                            <th data-trans="common.fax">{% translate 'common.fax' %}</th>
                            <td>{{ organization.fax }}</td>
                        </tr>
                    {% endif %}
                    {% if organization.email %}
                        <tr>
                            <th data-trans="common.email">{% translate 'common.email' %}</th>
                            <td>{{ organization.email }}</td>
                        </tr>
                    {% endif %}
                    {% if organization.swift %}
                    <tr>
                        <th data-trans="konto.swift">{% translate 'konto.swift' %}</th>
                        <td>{{ organization.swift }}</td>
                    </tr>
                    {% endif %}
                    {% if organization.iban %}
                    <tr>
                        <th data-trans="konto.iban">{% translate 'konto.iban' %}</th>
                        <td>{{ organization.iban }}</td>
                    </tr>
                    {% endif %}
                    {% if organization.cvrse %}
                    <tr>
                        <th data-trans="konto.cvrse">{% translate 'konto.cvrse' %}</th>
                        <td>{{ organization.cvrse }}</td>
                    </tr>
                    {% endif %}
                    {% if organization.account %}
                    <tr>
                        <th data-trans="konto.bankaccount">{% translate 'konto.bankaccount' %}</th>
                        <td>{{ organization.account }}</td>
                    </tr>
                    {% endif %}
                </table>
            </div>
            <div class="col-sm-3">
                <img src="{% static 'img/naalakkersuisut.png' %}" style="width:100%"/>
            </div>
        {% endlocalize %}
    </div>

    <div class="output-details row">
        <div class="col-sm-5 offset-sm-5">
            <h3 data-trans="konto.account">{% translate 'konto.account' %}</h3>
            {% if period.from_date and period.to_date %}
                <h4 data-trans="konto.period" data-trans-params="{{ period|json }}">{{ 'konto.period'|format:period }}</h4>
            {% elif period.from_date and not period.to_date %}
                <h4 data-trans="konto.period_from" data-trans-params="{{ period|json }}">{{ 'konto.period_from'|format:period }}</h4>
            {% elif not period.from_date and period.to_date %}
                <h4 data-trans="konto.period_to" data-trans-params="{{ period|json }}">{{ 'konto.period_to'|format:period }}</h4>
            {% else %}
                <h4 data-trans="konto.period_all">{% translate 'konto.period_all' %}</h4>
            {% endif %}
        </div>

        <div class="output-details row">
            {% localize off %}
                <div class="col-sm-7 offset-sm-5">
                    <table class="dl-table">
                        <tr>
                            <th data-trans="konto.number">{% translate 'konto.number' %}</th>
                            <td>{{ number }}</td>
                        </tr>
                        <tr>
                            <th data-trans="common.dato">{% translate 'common.dato' %}</th>
                            <td>{{ date }}</td>
                        </tr>

                        <tr>
                            {% if cprcvr|get:'1' == 'cpr' %}
                                <th data-trans="konto.cpr">{% translate 'konto.cpr' %}</th>
                            {% elif cprcvr|get:'1' == 'cvr' %}
                                <th data-trans="konto.cvr">{% translate 'konto.cvr' %}</th>
                            {% else %}
                                <th></th>
                            {% endif %}
                            <td>{{ cprcvr|get:'0' }}</td>
                        </tr>

                        <tr>
                            <th data-trans="konto.yourref">{% translate 'konto.yourref' %}</th>
                            <td>{{ yourref }}</td>
                        </tr>
                        <tr>
                            <th data-trans="konto.contact">{% translate 'konto.contact' %}</th>
                            <td>{{ contact }}</td>
                        </tr>
                        <tr>
                            <th data-trans="konto.localnumber">{% translate 'konto.localnumber' %}</th>
                            <td>{{ localnumber }}</td>
                        </tr>
                        <tr>
                            <th data-trans="konto.payment1">{% translate 'konto.payment1' %}</th>
                            <td>{{ payment1 }}</td>
                        </tr>
                        <tr>
                            <th data-trans="konto.invoiceaccount">{% translate 'konto.invoiceaccount' %}</th>
                            <td>{{ account }}</td>
                        </tr>
                    </table>
                </div>
            {% endlocalize %}
        </div>
    </div>

</div>
