/* Form */

fieldset {
    border: none;
    padding: 0;
    margin: 1.5rem 0;
}

/* Buttons and button-like links */

div.SumoSelect {
    top: 8px;
}

div.SumoSelect > .CaptionCont {
    border: none;
    padding: 15px;
    cursor: pointer;
    margin: 0;
    background-color: var(--bs-tertiary-bg);
    text-decoration: none;
    vertical-align: top;
    transition: all .2s ease-in-out;
    font-size: 1.125rem;
    height: 57px;
}

div.SumoSelect > .CaptionCont:hover {
    background-color: var(--bs-secondary-bg);
    color: white;
}

div.SumoSelect > .CaptionCont {
    border-radius: 0;
}

div.SumoSelect > .CaptionCont > label {
    display: none;
}

div.SumoSelect > .CaptionCont > span {
    padding-right: 0;
    height: 100%;
}

div.SumoSelect > .optWrapper {
    width: 300px;
}

div.SumoSelect > .optWrapper label {
    margin: 0;
}

.SumoSelect > .CaptionCont > span {
    text-align: center !important;
}

/* Input fields */

label {
    display: inline-block;
    margin: 20px 0 10px
}
input:not(input[type="checkbox"],input[type="radio"]) {
    width: 100%;
    height: 51px
}
textarea {
    height: 92px;
    width: 100%;
    resize: none;
}
input, textarea {
    border: 2px solid #718997;
    border-radius: 0;
    padding: 13px;
    font-size: 1rem;
    background-color: #fff;
}
input[type=date]:focus, input[type=email]:focus,
input[type=number]:focus, input[type=password]:focus,
input[type=text]:focus, textarea:focus, select:focus {
    border-color: #83929d
}
input:disabled, textarea:disabled {
    border-color: #eaedee !important;
}







form.submitted input:invalid:not([type=checkbox],[type=radio]),
form.submitted select:invalid,
.has-error input:not([type=checkbox],[type=radio]), .has-error select {
    border: 2px solid #d7404d;
}
input[disabled] {
    background-color: #f5f5f5
}

select {
    padding: 13px;
    padding-right: 3em;
    /*background-color: #fff;*/
    border: 2px solid #718997;
    border-radius: 0;
    height: 51px;
    color: #31495b;
    font-size: 1em;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(https://www.sullissivik.gl/build/images/downArrow.svg) no-repeat #ddd;
    background-position-x: right 12px;
    background-position-y: 50%;
    background-size: 9px;
}
.dropdown:active,
.dropdown:focus,
.dropdown:hover {
    background-color: #d6dbde
}

.input ul {
    padding-left: 0;
    list-style-type: none;
}

.input ul li {
    display: inline-block;
    margin: 0 2em;
}

.input ul.errorlist li {
    display: block;
    margin: 0;
}

.err-msg {
    color:red;
    display: block;
}

.can-collapse {
    cursor: pointer;
}

.can-collapse.has-expanded img {
    -moz-animation: spin-down 400ms linear;
    -moz-transform: rotate(90deg);
    -webkit-animation: spin-down 400ms linear;
    -webkit-transform: rotate(90deg);
    animation: spin-down 400ms linear;
    transform: rotate(90deg);
}

.can-collapse.has-collapsed img {
    -moz-animation: spin-right 400ms linear;
    -moz-transform: rotate(0deg);
    -webkit-animation: spin-right 400ms linear;
    -webkit-transform: rotate(0deg);
    animation: spin-right 400ms linear;
    transform: rotate(0deg);
}

@-moz-keyframes spin-right {
    0% {
        -moz-transform: rotate(90deg);
    }
    100% {
        -moz-transform: rotate(0deg);
    }
}
@-webkit-keyframes spin-right {
    0% {
        -webkit-transform: rotate(90deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}
@keyframes spin-right {
    0% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@-moz-keyframes spin-down {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(90deg);
    }
}
@-webkit-keyframes spin-down {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(90deg);
    }
}
@keyframes spin-down {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
}
.formset .prototype {
    display: none;
}
