@media print {
    .rentenota-title,
    .rentenota-actions,
    .rentenota-btn-print {
        display: none;
    }

    .rentenota-data {
        padding: 0;
        border: none;
        margin: 0;
    }
}
