.rentenota-data {
    padding: 1rem;
    border: solid 1px #eaecee;
    margin: 1rem 0;
}

.rentenota-main .numbercell {
    text-align: right;
}

.rentenota-dateform {
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
}

.rentenota-data-title {
    display: flex;
    justify-content: space-between;
}

.rentenota-btn-print {
    float: right;
}

.rentenota-total {
    border-top: solid 1px #465c6c;
    border-bottom: solid 0.25rem #465c6c;
}

.rentenota-main .notaheader {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 2rem;
}

.rentenota-address-table {
    width: 100%;
}

.rentenota-address-table th,
.rentenota-address-table td {
    padding: 0;
}

.rentenota-address-table th {
    border: none;
    font-weight: normal;
}

.rentenota-address-table td {
    text-align: right;
}

@media print {
    .rentenota-title,
    .rentenota-actions,
    .rentenota-btn-print {
        display: none;
    }

    .rentenota-data {
        padding: 0;
        border: none;
        margin: 0;
    }
}
