body {
    background-color: #fff;
}
.output {
    padding: 1.875rem;
}
.output table {
    width: 100%;
    border-collapse: collapse;
}
.output table th {
    text-align: left;
    border-bottom: 1px solid #465c6c;
    padding:.25rem .5rem
}
.output table td {
    border-top: 1px solid #dddddd;
    padding:.25rem .5rem
}
.output .output-actions {
    display: none;
}
