@media print {

    body {
        background-color: #fff;
    }
    .printhide {
        display: none;
    }
    main,
    article {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    form {
        margin: 0;
    }

    .output {
        margin: 0 !important;
        padding: 0 !important;
    }

    .printhide {
        display: none;
    }
    .page {
        page-break-after: always;
        /*height: 29cm;*/
        position: relative;
    }
    .output:last-child .page {
        page-break-after: auto;
    }
    .output-table {
        font-size: 9.5pt;
    }
    .output-table tr,
    .output-table tr td {
        page-break-inside: avoid;
    }
    .output-table td {
        /*border: 1px solid #000;*/
    }
    .output-details {
        font-size: 0.9em;
    }
    .pagefooter {
        text-align: center;
        font-size: 10pt;
        margin-top: 2em;
        position: absolute;
        width: 100%;
        bottom: 0;
    }
}

