{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load aka_tags %}

{% block extra_headers %}
    {% if pdf %}
        <style>
            {{ css|safe }}
        </style>
    {% else %}
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.sumoselect/3.0.2/sumoselect.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.sumoselect/3.0.2/jquery.sumoselect.min.js"></script>
        <script type="text/javascript" src="{% static 'js/form.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/output.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/print.css' %}"/>
        <script src="{% static 'js/download.js' %}"></script>
    {% endif %}
{% endblock %}

{% block content %}
<article>

    <h1 class="rentenota-title printhide">{% translate 'rentenota.title' %}</h1>

    <div class="rentenota-main">
        <div class="output rentenota-data">

            <div class="output-header">
                <div class="row">
                    <div class="col-7-sm">
                        <h2>Namminersorlutik Oqartussat - Grønlands Selvstyre</h2>
                        <strong>Akileraartarnermut Aqutsisoqarfik</strong><br/>
                        <strong>Skattestyrelsen</strong>
                    </div>
                </div>
            </div>

            <div class="output-details row">
                {% localize off %}
                <div class="col-8-sm">
                    <span class="line">{{ company.navn }}</span>
                    <span class="line">{{ company.adresse }}</span>
                    <span class="line">{{ company.postnummer }} {{ rentenota_data.bynavn }}</span>
                    <span class="line" data-trans="{{ company.landekode }}">{% translate company.landekode %}</span>
                    <span class="line">CVR: {{ cvr }}</span>
                </div>

                <div class="col-4-sm">
                    <h3 data-trans="rentenota.rentenota">{% translate 'rentenota.rentenota' %}</h3>
                    <table class="dl-table">
                        <tr>
                            <th data-trans="common.konto">{% translate 'common.konto' %}</th>
                            <td>{{ cvr }}</td>
                        </tr>
                        <tr>
                            <th data-trans="common.dato">{% translate 'common.dato' %}</th>
                            <td>{{ date }}</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <th colspan="2" data-trans="common.postboks" data-trans-params="{&quot;box&quot;:1605}">{{ 'common.postboks'|format:'{"box":1605}' }}</th>
                        </tr>
                        <tr>
                            <th colspan="2">3900 Nuuk</th>
                        </tr>
                        <tr>
                            <th data-trans="common.telefon">{% translate 'common.telefon' %}</th>
                            <td>346500</td>
                        </tr>
                        <tr>
                            <th data-trans="common.fax">{% translate 'common.fax' %}</th>
                            <td>346577</td>
                        </tr>
                        <tr>
                            <th data-trans="common.email">{% translate 'common.email' %}</th>
                            <td>sulinal@nanoq.gl</td>
                        </tr>
                        <tr>
                            <th data-trans="common.webadresse">{% translate 'common.webadresse' %}</th>
                            <td>www.aka.gl</td>
                        </tr>
                    </table>
                </div>
                {% endlocalize %}
            </div>

            {% if errors %}
                <div class="errors">
                {% for error in errors %}
                    <div class="error err-msg" data-trans="{{ error.key }}" data-trans-params="{{ error.params|json }}">
                        {{ error.key|format:error.params }}
                    </div>
                {% endfor %}
                </div>
            {% endif %}

            {% if items is not None %}
                <div class="output-data">
                <table class="output-table" style="font-size:0.65em">
                    <thead>
                    <tr>
                        {% for field in fields %}
                            {% with "rentenota."|add:field.name as transkey %}
                                <th data-field="{{ field.name }}" data-trans="{{ transkey }}">{% translate transkey|safe %}</th>
                            {% endwith %}
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                        {% if items|length == 0 %}
                            <tr>
                                <td colspan="14" style="text-align: center">
                                    {% translate 'rentenota.ingenposter' %}
                                </td>
                            </tr>
                        {% else %}
                            {% for item in items %}
                                <tr class="rentenota-post-table-datarow">
                                {% for field in fields %}
                                    {% with value=item|get:field.name|default:'' %}
                                        <td class="{{ field.class }}" data-original="{{ value }}">
                                            {% if field.number %}
                                                {{ value }}
                                            {% else %}
                                                {% localize off %}
                                                {{ value }}
                                                {% endlocalize %}
                                            {% endif %}
                                        </td>
                                    {% endwith %}
                                {% endfor %}
                                </tr>
                            {% endfor %}
                        <tr class="rentenota-post-table-sumrow">
                            <td colspan="8"></td>
                            <td class="numbercell rentenota-total sum">{{ total }}</td>
                            <td colspan="6">kr</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            {% endif %}
            </div>
        </div>
    </div>
</article>
{% endblock %}
