{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_headers %}
    {% if pdf %}
        <style>
            {{ css|safe }}
        </style>
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/output.css' %}"/>
    {% endif %}
{% endblock %}

{% block content %}
<article>

    <h1 class="rentenota-title printhide">{% trans 'rentenota.title' %}</h1>

    <div class="rentenota-main">

        <form method="get" id="mainform" class="printhide">
            <div class="rentenota-actions row">
                <div class="col-4">
                    {% include 'aka/field.html' with field=form.year key='rentenota.year' %}
                    {% include 'aka/field.html' with field=form.month key='rentenota.month' %}
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <button type="submit">{% trans 'common.send' %}</button>
                </div>
            </div>
        </form>


        <div class="output rentenota-data">

            <div class="output-header">
                <div class="row">
                    <div class="col-8">
                        <h2>Namminersorlutik Oqartussat - Grønlands Selvstyre</h2>
                        <strong>Akileraartarnermut Aqutsisoqarfik</strong><br/>
                        <strong>Skattestyrelsen</strong>
                    </div>
                    <div class="col-4 output-actions printhide">
                        <a class="button" href="{% url 'rentenota' %}?year={{ form.year.value }}&month={{ form.month.value }}&pdf" data-trans="common.pdf">{% trans 'common.pdf' %}</a>
                        <button class="btn-print" data-trans="common.print">{% trans 'common.print' %}</button>
                    </div>
                </div>
            </div>

            <div class="output-details notaheader row">

                <div class="col-8">
                    <span class="line">{{ company.navn }}</span>
                    <span class="line">{{ company.adresse }}</span>
                    <span class="line">{{ company.postnummer }} {{ rentenota_data.bynavn }}</span>
                    <span class="line" data-trans="{{ company.landekode }}">{% trans company.landekode %}</span>
                </div>

                <div class="col-4">
                    <h3 data-trans="rentenota.rentenota">{% trans 'rentenota.rentenota' %}</h3>
                    <table class="dl-table">
                        <tr>
                            <th data-trans="common.konto">{% trans 'common.konto' %}</th>
                            <td>{{ company.cvr }}</td>
                        </tr>
                        <tr>
                            <th data-trans="common.dato">{% trans 'common.dato' %}</th>
                            <td>{{ date }}</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <th colspan="2">Postboks 1605</th>
                        </tr>
                        <tr>
                            <th colspan="2">3900 Nuuk</th>
                        </tr>
                        <tr>
                            <th data-trans="common.telefon">{% trans 'common.telefon' %}</th>
                            <td>346500</td>
                        </tr>
                        <tr>
                            <th data-trans="common.fax">{% trans 'common.fax' %}</th>
                            <td>346577</td>
                        </tr>
                        <tr>
                            <th data-trans="common.email">{% trans 'common.email' %}</th>
                            <td>sulinal@nanoq.gl</td>
                        </tr>
                        <tr>
                            <th data-trans="common.webadresse">{% trans 'common.webadresse' %}</th>
                            <td>www.aka.gl</td>
                        </tr>
                    </table>
                </div>
            </div>

            {% if posts is not None %}
                <div class="output-data">
                <table class="output-table rentenota-post-table" style="font-size: 0.8em">
                    <thead>
                    <tr>
                        <th data-trans="rentenota.dato">{% trans 'rentenota.dato' %}</th>
                        <th data-trans="rentenota.debitorkonto">{% trans 'rentenota.debitorkonto' %}</th>
                        <th data-trans="rentenota.faktureringsklassifikation">{% trans 'rentenota.faktureringsklassifikation' %}</th>
                        <th data-trans="rentenota.bilag">{% trans 'rentenota.bilag' %}</th>
                        <th data-trans="rentenota.rentenotanummer">{% trans 'rentenota.rentenotanummer' %}</th>
                        <th data-trans="rentenota.tekst">{% trans 'rentenota.tekst' %}</th>
                        <th data-trans="rentenota.forfald">{% trans 'rentenota.forfald' %}</th>
                        <th data-trans="rentenota.grundlag">{% trans 'rentenota.grundlag' %}</th>
                        <th data-trans="rentenota.beloeb">{% trans 'rentenota.beloeb' %}</th>
                        <th data-trans="rentenota.postdato">{% trans 'rentenota.postdato' %}</th>
                        <th data-trans="rentenota.faktura">{% trans 'rentenota.faktura' %}</th>
                        <th data-trans="rentenota.fradato">{% trans 'rentenota.fradato' %}</th>
                        <th data-trans="rentenota.tildato">{% trans 'rentenota.tildato' %}</th>
                        <th data-trans="rentenota.dage">{% trans 'rentenota.dage' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% if posts|length == 0 %}
                            <tr>
                                <td colspan="14" style="text-align: center">
                                    {% trans 'rentenota.ingenposter' %}
                                </td>
                            </tr>
                        {% else %}
                            {% for post in posts %}
                                <tr class="rentenota-post-table-datarow">
                                    <td>{{ post.Updated }}</td>
                                    <td>{{ post.AccountNum }}</td>
                                    <td>{{ post.BillingClassification }}</td>
                                    <td>{{ post.Voucher }}</td>
                                    <td>{{ post.InterestNote }}</td>
                                    <td>{{ post.Txt }}</td>
                                    <td class="numbercell">{{ post.DueDate }}</td>
                                    <td class="numbercell">{{ post.InvoiceAmount }}</td>
                                    <td class="numbercell">{{ post.InterestAmount }}</td>
                                    <td>{{ post.TransDate }}</td>
                                    <td>{{ post.Invoice }}</td>
                                    <td>{{ post.CalcFrom }}</td>
                                    <td>{{ post.CalcTo }}</td>
                                    <td class="numbercell">{{ post.InterestDays }}</td>
                                </tr>
                            {% endfor %}
                        <tr class="rentenota-post-table-sumrow">
                            <td colspan="8"></td>
                            <td class="numbercell rentenota-total sum">{{ total }}</td>
                            <td colspan="6">kr</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            {% endif %}
            </div>
        </div>
    </div>
</article>
{% endblock %}
