# ┌───────── minute (0 - 59)
# │ ┌─────── hour (0 - 23)
# │ │ ┌───── day of the month (1 - 31)
# │ │ │ ┌─── month (1 - 12)
# │ │ │ │ ┌─ day of the week (0 - 6) (Sunday to Saturday)
# │ │ │ │ │
# * * * * * command to execute
  0 0 * * * python manage.py clearsessions
  0 0 * * * python manage.py update_mitid_idp_metadata && echo -e "# TYPE groenland_job gauge\ngroenland_job $(date +%s)" | curl --data-binary @- http://pushgateway:9091/metrics/job/update_mitid_idp_metadata/
0/5 * * * * python manage.py check_downtime
