{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block extra_headers %}
    {{ form.media }}
{% endblock %}

{% block content %}
{% localize off %}
    <div class="col-xs-12 col-md-12 col-xl-6 offset-xl-3 col-fluid">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}


        {% include "aka/util/header.html" with key="fordring.title-upload" %}

        <div class="row block">

            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <a href="{% static '/csv/Fordring.csv' %}" data-trans="common.download_template">{% translate 'common.download_template' %}</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        {% include 'aka/util/field.html' with field=form.file %}
                    </div>
                </div>

                {% if form.non_field_errors %}
                    <div class="err-msg">
                        <span data-trans="error.upload_validation">{% translate 'error.upload_validation' %}</span>
                        <ul class="errorlist">
                            {% for error in form.non_field_errors.as_data %}
                                <li {% if error.code %}data-trans="{{ error.code }}"{% endif %} {% if error.params %}data-trans-params="{{ error.params|json }}"{% endif %}>
                                    {% if error.code %}
                                        {% translate error.code as error_message %}
                                        {{ error_message|format:error.params }}
                                    {% else %}
                                        {{ error }}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <div class="row footer">
                    <div class="col-2">
                        <button type="submit" class="btn btn-primary" data-trans="common.gem">{% translate 'common.gem' %}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endlocalize %}
{% endblock %}
