{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load aka_tags %}

{% block extra_headers %}

    {% include 'aka/util/calendar_headers.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/output.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/print.css' %}"/>
    <script src="{% static 'js/form.js' %}"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.sumoselect/3.0.2/sumoselect.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.sumoselect/3.0.2/jquery.sumoselect.min.js"></script>

    {% if sections %}
        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"/>
        <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
        <script src="{% static 'js/datatable.js' %}"></script>
    {% endif %}

    <script src="{% static 'js/download.js' %}"></script>
{% endblock %}

{% block content %}
<article>

    <h1 class="account-title printhide" data-trans="account.title">{% trans 'account.title' %} </h1>

    <div class="account-main">

        <form method="get" id="mainform">
            <div class="printhide">
            {% if form.non_field_errors %}
                <ul class="errorlist">
                    {% for error in form.non_field_errors.as_data %}
                        <li {% if error.code %}data-trans="{{ error.code }}"{% endif %} {% if error.params %}data-trans-params="{{ error.params|json }}"{% endif %}>
                            {% if error.code %}
                                {% trans error.code as error_message %}
                                {{ error_message|format:error.params }}
                            {% else %}
                                {{ error }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            <p data-trans="account.description">{{ account.description }}</p>
            <div class="account-actions row">
                {% if cpr and cvr %}
                <div class="col-4-sm">
                    {% include 'aka/util/field.html' with field=form.cprcvr key='account.cprcvr' %}
                </div>
                {% endif %}
                <div class="col-4-sm">
                    {% include 'aka/util/field.html' with field=form.from_date key='account.from_date' %}
                </div>
                <div class="col-4-sm">
                    {% include 'aka/util/field.html' with field=form.to_date key='account.to_date' %}
                </div>
            </div>

            <div class="account-actions row">
                <div class="col-12-sm">
                    {% include 'aka/util/field.html' with field=form.open_closed %}
                </div>
            </div>

            <div class="row">
                <div class="col-12-sm">
                    <button type="submit" data-trans="common.send">{% trans 'common.send' %}</button>
                </div>
            </div>
            {{ form.hidden }}
            </div>

        {% if form.is_bound %}

            {% for section in sections %}
                {% with rows=section.rows total=section.total key=section.key %}
                <div id="output-{{ key }}" class="output">

                    <div class="page" style="page-break-after: always">
                        <h2 class="can-collapse printhide" data-collapse="#content-{{ key }}">
                            <img src="{% static 'img/sullisivk_arrow_right.svg' %}" width="20" height="20"/>
                            <span data-trans="{{ item.title }}">{% trans section.title %}</span>
                        </h2>
                        <div id="content-{{ key }}" data-key="{{ key }}" class="page-content collapsed" style="display:none">

                            {% include 'aka/account/account_pageheader.html' with key=key %}

                            <div class="page-data account-data">

                            {% if rows and rows|length > 0 %}

                                <div class="printhide">
                                    <select class="columnselect" multiple="multiple" data-key="{{ key }}">
                                        {% for field in section.fields %}
                                            {% with "account."|add:field.name as transkey %}
                                                <option value="{{ field.name }}" {% if not field in form.hidden.value %}selected="selected"{% endif %}>{% trans transkey %}</option>
                                            {% endwith %}
                                        {% endfor %}
                                    </select>
                                </div>

                                <table class="output-table" data-key="{{ key }}">
                                <thead>
                                <tr>
                                    {% for field in section.fields %}
                                        <th data-field="{{ field.name }}" data-trans="{{ field.transkey }}">{% trans field.transkey|safe %}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for row in rows %}
                                    <tr>
                                        {% for cell in row.cells %}
                                            {% with field=cell.field %}
                                            <td class="{{ field.klass }}" data-original="{{ cell.value }}">
                                                {% if field.number %}
                                                    {{ cell.value }}
                                                {% elif field.boolean %}
                                                    {{ cell.value|yesno }}
                                                {% else %}
                                                    {% localize off %}
                                                    {{ cell.value|default_if_none:'' }}
                                                    {% endlocalize %}
                                                {% endif %}
                                            </td>
                                            {% endwith %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                                </table>
                            {% else %}
                                <p data-trans="account.ingenposter">{% trans 'account.ingenposter' %}</p>
                            {% endif %}

                            {% if total %}
                                <div class="row account-total no-copy">
                                    <div class="col-3-sm">
                                        <span class="total-label" data-trans="account.total_claim">{% trans 'account.total_claim' %}</span>
                                        <span class="total-data">{{ total.total_claim }}</span>
                                    </div>
                                    <div class="col-3-sm">
                                        <span class="total-label" data-trans="account.total_payment">{% trans 'account.total_payment' %}</span>
                                        <span class="total-data">{{ total.total_payment }}</span>
                                    </div>
                                    <div class="col-3-sm">
                                        <span class="total-label" data-trans="account.total_sum">{% trans 'account.total_sum' %}</span>
                                        <span class="total-data">{{ total.total_sum }}</span>
                                    </div>
                                    <div class="col-3-sm">
                                        <span class="total-label" data-trans="account.total_restance">{% trans 'account.total_restance' %}</span>
                                        <span class="total-data">{{ total.total_restance }}</span>
                                    </div>
                                </div>
                            {% endif %}

                                <div class="pagefooter"></div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endwith %}
            {% endfor %}
        {% endif %}
        </form>
    </div>
</article>
{% endblock %}
