{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_headers %}
    {% if pdf %}
        <style>
            {{ css|safe }}
        </style>
    {% else %}
        {% include 'aka/util/calendar_headers.html' %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/output.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/print.css' %}"/>
    {% endif %}
{% endblock %}

{% block content %}
<article>

    <h1 class="employeraccount-title printhide">{% trans 'employeraccount.title' %} </h1>

    <div class="employeraccount-main">

        <form method="get" id="mainform" class="printhide">
            form.non_field_errors: {{ form.non_field_errors }}
            form.non_errors: {{ form.errors }}
            {% if form.non_field_errors %}
                <ul class="errorlist">
                    {% for error in form.non_field_errors.as_data %}
                        <li {% if error.code %}data-trans="{{ error.code }}"{% endif %} {% if error.params %}data-trans-params="{{ error.params|json }}"{% endif %}>
                            {% if error.code %}
                                {% trans error.code as error_message %}
                                {{ error_message|format:error.params }}
                            {% else %}
                                {{ error }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="employeraccount-actions row">
                <div class="col-4-sm">
                    {% include 'aka/util/field.html' with field=form.from_date key='employeraccount.from_date' %}
                </div>
                <div class="col-4-sm">
                    {% include 'aka/util/field.html' with field=form.to_date key='employeraccount.to_date' %}
                </div>
            </div>

            <div class="employeraccount-actions row">
                <div class="col-4-sm">
                    {% include 'aka/util/field.html' with field=form.open_closed %}
                </div>
            </div>

            <div class="row">
                <div class="col-4-sm">
                    <button type="submit" data-trans="common.send">{% trans 'common.send' %}</button>
                </div>
            </div>
        </form>



        {% if items is not None %}

            <div class="output account-data">

                <div class="output-header">
                    <div class="row">
                        <div class="col-7-sm">
                            <h2>Namminersorlutik Oqartussat - Grønlands Selvstyre</h2>
                            <strong>Akileraartarnermut Aqutsisoqarfik</strong><br/>
                            <strong>Skattestyrelsen</strong>
                        </div>
                        <div class="col-5-sm output-actions printhide">
                            <a class="button" href="{{ pdflink }}" data-trans="common.pdf">{% trans 'common.pdf' %}</a>
                            <button class="btn-print" data-trans="common.print">{% trans 'common.print' %}</button>
                        </div>
                    </div>
                </div>

                <hr/>

                <div class="output-details row">
                    <div class="col-6-sm">
                        <span class="line">{{ company.navn }}</span>
                        <span class="line">{{ company.adresse }}</span>
                        <span class="line">{{ company.postnummer }} {{ rentenota_data.bynavn }}</span>
                        <span class="line" data-trans="{{ company.landekode }}">{% trans company.landekode %}</span>
                    </div>
                    <div class="col-3-sm">
                        <table class="dl-table">
                            <tr>
                                <th data-trans="common.telefon">{% trans 'common.telefon' %}</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th data-trans="common.fax">{% trans 'common.fax' %}</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th data-trans="employeraccount.swift">{% trans 'common.swift' %}</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th data-trans="employeraccount.iban">{% trans 'common.iban' %}</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th data-trans="employeraccount.cvrse">{% trans 'common.cvrse' %}</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th data-trans="employeraccount.bankaccount">{% trans 'employeraccount.bankaccount' %}</th>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-3-sm">
                        <img src="{% static 'img/naalakkersuisut.png' %}" style="width:100%"/>
                    </div>
                </div>

                <div class="output-details row">
                    <div class="col-4-sm offset-6-sm">

                        <h3 data-trans="rentenota.rentenota">{% trans 'employeraccount.account' %}</h3>
                        <h4 data-trans="employeraccount.period">{{ 'employeraccount.period'|format:period }}</h4>

                        <table class="dl-table">
                            <tr>
                                <th data-trans="employeraccount.number">{% trans 'employeraccount.number' %}</th>
                                <td>{{ number }}</td>
                            </tr>
                            <tr>
                                <th data-trans="common.dato">{% trans 'common.dato' %}</th>
                                <td>{{ date }}</td>
                            </tr>
                            <tr>
                                <th data-trans="employeraccount.cprcvr">{% trans 'employeraccount.cprcvr' %}</th>
                                <td>{{ company.cvr }}</td>
                            </tr>
                            <tr>
                                <th data-trans="employeraccount.yourref">{% trans 'employeraccount.yourref' %}</th>
                                <td>{{ yourref }}</td>
                            </tr>
                            <tr>
                                <th data-trans="employeraccount.contact">{% trans 'employeraccount.contact' %}</th>
                                <td>{{ contact }}</td>
                            </tr>
                            <tr>
                                <th data-trans="employeraccount.localnumber">{% trans 'employeraccount.localnumber' %}</th>
                                <td>{{ localnumber }}</td>
                            </tr>
                            <tr>
                                <th data-trans="employeraccount.payment1">{% trans 'employeraccount.payment1' %}</th>
                                <td>{{ payment1 }}</td>
                            </tr>
                            <tr>
                                <th data-trans="employeraccount.invoiceaccount">{% trans 'employeraccount.invoiceaccount' %}</th>
                                <td>{{ account }}</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="employeraccount-data">
                    <table class="output-table">
                        <thead>
                        <tr>
                            <th data-trans="employeraccount.account_number">{% trans 'employeraccount.account_number' %}</th>
                            <th data-trans="employeraccount.transaction_date">{% trans 'employeraccount.transaction_date' %}</th>
                            <th data-trans="employeraccount.accounting_date">{% trans 'employeraccount.accounting_date' %}</th>
                            <th data-trans="employeraccount.debitorgroup_id">{% trans 'employeraccount.debitorgroup_id' %}</th>
                            <th data-trans="employeraccount.debitorgroup_name">{% trans 'employeraccount.debitorgroup_name' %}</th>
                            <th data-trans="employeraccount.voucher">{% trans 'employeraccount.voucher' %}</th>
                            <th data-trans="employeraccount.text">{% trans 'employeraccount.text' %}</th>
                            <th data-trans="employeraccount.payment_code">{% trans 'employeraccount.payment_code' %}</th>
                            <th data-trans="employeraccount.payment_code_name">{% trans 'employeraccount.payment_code_name' %}</th>
                            <th data-trans="employeraccount.amount">{% trans 'employeraccount.amount' %}</th>
                            <th data-trans="employeraccount.balance">{% trans 'employeraccount.balance' %}</th>
                            <th data-trans="employeraccount.due_date">{% trans 'employeraccount.due_date' %}</th>
                            <th data-trans="employeraccount.close_date">{% trans 'employeraccount.close_date' %}</th>
                            <th data-trans="employeraccount.last_settlement_voucher">{% trans 'employeraccount.last_settlement_voucher' %}</th>
                            <th data-trans="employeraccount.collection_letter_date">{% trans 'employeraccount.collection_letter_date' %}</th>
                            <th data-trans="employeraccount.collection_letter_code">{% trans 'employeraccount.collection_letter_code' %}</th>
                            <th data-trans="employeraccount.claim_type_code">{% trans 'employeraccount.claim_type_code' %}</th>
                            <th data-trans="employeraccount.invoice_number">{% trans 'employeraccount.invoice_number' %}</th>
                            <th data-trans="employeraccount.transaction_type">{% trans 'employeraccount.transaction_type' %}</th>
                            <th data-trans="employeraccount.claimant_name">{% trans 'employeraccount.claimant_name' %}</th>
                            <th data-trans="employeraccount.claimant_id">{% trans 'employeraccount.claimant_id' %}</th>
                            <th data-trans="employeraccount.child_claimant">{% trans 'employeraccount.child_claimant' %}</th>
                            <th data-trans="employeraccount.rate_number">{% trans 'employeraccount.rate_number' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in items %}
                            <tr>
                                <td>{{ item.account_number|default:'' }}</td>
                                <td>{{ item.transaction_date|default:'' }}</td>
                                <td>{{ item.accounting_date|default:'' }}</td>
                                <td>{{ item.customer_group_id|default:'' }}</td>
                                <td>{{ item.customer_group_name|default:'' }}</td>
                                <td>{{ item.voucher|default:'' }}</td>
                                <td>{{ item.text|default:'' }}</td>
                                <td>{{ item.payment_code|default:'' }}</td>
                                <td>{{ item.payment_description|default:'' }}</td>
                                <td>{{ item.amount|default:'' }}</td>
                                <td>{{ item.remaining_amount|default:'' }}</td>
                                <td>{{ item.due_date|default:'' }}</td>
                                <td>{{ item.closed_date|default:'' }}</td>
                                <td>{{ item.last_settlement_voucher|default:'' }}</td>
                                <td>{{ item.collection_letter_date|default:'' }}</td>
                                <td>{{ item.collection_letter_code|default:'' }}</td>
                                <td>{{ item.claim_type_code|default:'' }}</td>
                                <td>{{ item.invoice|default:'' }}</td>
                                <td>{{ item.transaction_type|default:'' }}</td>
                                <td>{{ item.claimant_name|default:'' }}</td>
                                <td>{{ item.claimant_id|default:'' }}</td>
                                <td>{{ item.payment_code|default:'' }}</td>
                                <td>{{ item.child_claimant|default:'' }}</td>
                                <td>{{ item.rate_number|default:'' }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="3" class="empty" data-trans="citizenaccount.ingenposter">{% trans 'citizenaccount.ingenposter' %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td style="border-bottom:2px solid #000"></td>
                            </tr>
                            <tr>
                                <td colspan="9"></td>
                                <td>{{ sum }}</td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td data-trans="common.skattestyrelsen">{% trans 'common.skattestyrelsen' %}</td>
                            </tr>
                        </tfoot>
                    </table>
                    <p>Såfremt ovenstående er betalt indenfor de sidste 8 hverdage, bedes De se bort fra denne henvendelse.<p>
                    <p>Akiligassaq qulaani pineqartoq ullut arfineq pingasut iluanni akilersimagukku, una allagaq igiinnassaq.</p>
                </div>
            </div>
        {% endif %}
    </div>
</article>
{% endblock %}
