{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load aka_tags %}

{% block extra_headers %}
    {% if pdf %}
        <style>
            {{ css|safe }}
        </style>

        <script src="{% static 'js/thirdparty/jquery-3.5.0.min.js' %}"></script>

        <script>

            const splitTable = function(table) {
                var tables = [];
                if (table.length) {
                    var newTable;
                    var tableLeft = table.offset().left;
                    var maxWidth = 1200; // table.parent().innerWidth();
                    tables.push(table);

                    table.find("th").each(function (index) {

                        var $this = $(this);
                        var right = $this.offset().left + $this.outerWidth() - tableLeft;

                        if (right > maxWidth) {
                            // Create a new table to hold punted columns
                            newTable = $("<table><thead><tr></tr></thead><tbody></tbody></table>");
                            var newPage = $("<div class=\"page\"/>");
                            newPage.append($("#data-table").parent().prevAll().clone().get().reverse());
                            newPage.append(newTable);
                            newPage.append($(".pagefooter").first().clone());
                            $(".account-data").append(newPage);
                            newTable.addClass(table.get(0).className);
                            // Move table headers (this + all to the right), and their cells to the new table
                            var puntHeaders = $this.add($this.nextAll());
                            newTable.find("thead tr").append(puntHeaders);
                            table.find("tbody tr").each(function () {
                                var puntCells = $(this).find("td:nth-child(" + (index) + ")").nextAll();
                                var newRow = $("<tr/>");
                                newRow.append(puntCells);
                                newTable.find("tbody").append(newRow);
                                newRow.height($(this).height());
                            });
                            return false;
                        }
                    });
                    if (newTable) {
                        // Run split on the new (smaller) table. This continues in a chain until the last table does not need to be split
                        tables = tables.concat(
                            splitTable(newTable)
                        );
                    }
                }
                return tables;
            };

            const splitPage = function(page) {
                var maxHeight = page.outerHeight() + 100;
                var height = 0;
                page.children().each(function () {
                    height += $(this).outerHeight();
                });
                if (height > maxHeight) {
                    // Create new page to hold punted rows
                    var pageOffset = page.offset().top;
                    var newPage = $("<div><table><thead/><tbody/></table></div>");
                    newPage.addClass(page.get(0).className);
                    newPage.find("table").addClass(page.find("table.output-table").get(0).className);
                    newPage.find("thead").append(page.find("table.output-table thead tr").clone());
                    var body = newPage.find("tbody");
                    // Find rows that would spill over our maxHeight, and send them to the new page
                    page.find("table.output-table tbody tr").each(function() {
                        if ($(this).offset().top - pageOffset > maxHeight) {
                            body.append($(this).add($(this).nextAll()));
                            return false;
                        }
                    });
                    newPage.append($(".pagefooter").first().clone());
                    page.parent().append(newPage);
                    splitPage(newPage);
                }
            };


            $(function() {
                var table = $(".output-table");
                table.each(function(){
                    var thistable = $(this);

                    // Expressly set row height - this is to maintain row height across split tables
                    // (So if cell content makes one row higher, that row should maintain its height even as the table splits)
                        thistable.find("tr").each(function(index, el) {
                        var $this = $(this);
                        $this.height($this.height());
                    });

                    // Split the table vertically into parallel tables
                    splitTable(thistable);

                    // Split the pages to get a nice border (and copy headers to pages)
                    $(".page").each(function(index, el) {
                        splitPage($(this));
                    });

                    var footerTemplate = "{% trans 'employeraccount.footer' %}";

                    var footers = $(".page .pagefooter");
                    footers.each(function(index, el){
                        var params = {'index':index+1, 'count':footers.length};
                        var text = footerTemplate;
                        for (let key in params) {
                            if (params.hasOwnProperty(key)) {
                                text = text.replace("{" + key + "}", params[key]);
                            }
                        }
                        $(this).text(text);
                    });
                });
            });
        </script>

    {% else %}
        {% include 'aka/util/calendar_headers.html' %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/output.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/print.css' %}"/>
        <script src="{% static 'js/form.js' %}"></script>

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.sumoselect/3.0.2/sumoselect.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.sumoselect/3.0.2/jquery.sumoselect.min.js"></script>

        {% if items %}
            <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"/>
            <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
            <script src="{% static 'js/datatable.js' %}"></script>
        {% endif %}

        <script src="{% static 'js/download.js' %}"></script>
    {% endif %}
{% endblock %}

{% block content %}
<article>

    <h1 class="employeraccount-title printhide" data-trans="employeraccount.title">{% trans 'employeraccount.title' %} </h1>

    <div class="employeraccount-main">

        <form method="get" id="mainform" class="printhide">
            {% if form.non_field_errors %}
                <ul class="errorlist">
                    {% for error in form.non_field_errors.as_data %}
                        <li {% if error.code %}data-trans="{{ error.code }}"{% endif %} {% if error.params %}data-trans-params="{{ error.params|json }}"{% endif %}>
                            {% if error.code %}
                                {% trans error.code as error_message %}
                                {{ error_message|format:error.params }}
                            {% else %}
                                {{ error }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            <p data-trans="employeraccount.description">{{ employeraccount.description }}</p>
            <div class="employeraccount-actions row">
                {% if cpr and cvr %}
                <div class="col-4-sm">
                    {% include 'aka/util/field.html' with field=form.cprcvr key='employeraccount.cprcvr' %}
                </div>
                {% endif %}
                <div class="col-4-sm">
                    {% include 'aka/util/field.html' with field=form.from_date key='employeraccount.from_date' %}
                </div>
                <div class="col-4-sm">
                    {% include 'aka/util/field.html' with field=form.to_date key='employeraccount.to_date' %}
                </div>
            </div>

            <div class="employeraccount-actions row">
                <div class="col-12-sm">
                    {% include 'aka/util/field.html' with field=form.open_closed %}
                </div>
            </div>

            <div class="row">
                <div class="col-12-sm">
                    <button type="submit" data-trans="common.send">{% trans 'common.send' %}</button>
                </div>
            </div>
            {{ form.hidden }}
        </form>

        {% if form.is_bound %}

            {% for item in items %}
                {% with item.data as data %}
                <div class="output account-data">
                    <div class="page">
                        <div class="output-header">
                            <div class="row">
                                <div class="col-7-sm">
                                    <h2>{{ item.key }}</h2>
                                    <h2>Namminersorlutik Oqartussat - Grønlands Selvstyre</h2>
                                    <strong>Akileraartarnermut Aqutsisoqarfik</strong><br/>
                                    <strong>Skattestyrelsen</strong>
                                </div>
                                <div class="col-5-sm output-actions printhide">

                                    <select id="download">
                                        {% if pdflink %}
                                            <option value="{{ pdflink }}&key={{ item.key }}" data-trans="common.pdf">{% trans 'common.pdf' %}</option>
                                        {% endif %}
                                        {% if xlsxlink %}
                                            <option value="{{ xlsxlink }}&key={{ item.key }}" data-trans="common.xlsx">{% trans 'common.xlsx' %}</option>
                                        {% endif %}
                                        {% if odslink %}
                                            <option value="{{ odslink }}&key={{ item.key }}" data-trans="common.ods">{% trans 'common.ods' %}</option>
                                        {% endif %}
                                        {% if csvlink %}
                                            <option value="{{ csvlink }}&key={{ item.key }}" data-trans="common.csv">{% trans 'common.csv' %}</option>
                                        {% endif %}
                                    </select>

                                    <button class="btn-print" data-trans="common.print">{% trans 'common.print' %}</button>
                                </div>
                            </div>
                        </div>

                        <hr/>

                        <div class="output-details row">
                            <div class="col-6-sm">
                                <span class="line">{{ company.navn }}</span>
                                <span class="line">{{ company.adresse }}</span>
                                <span class="line">{{ company.postnummer }} {{ rentenota_data.bynavn }}</span>
                                <span class="line" data-trans="{{ company.landekode }}">{% trans company.landekode %}</span>
                            </div>
                            <div class="col-3-sm">
                                <table class="dl-table">
                                    <tr>
                                        <th data-trans="common.telefon">{% trans 'common.telefon' %}</th>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th data-trans="common.fax">{% trans 'common.fax' %}</th>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th data-trans="employeraccount.swift">{% trans 'employeraccount.swift' %}</th>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th data-trans="employeraccount.iban">{% trans 'employeraccount.iban' %}</th>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th data-trans="employeraccount.cvrse">{% trans 'employeraccount.cvrse' %}</th>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th data-trans="employeraccount.bankaccount">{% trans 'employeraccount.bankaccount' %}</th>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-3-sm">
                                <img src="{% static 'img/naalakkersuisut.png' %}" style="width:100%"/>
                            </div>
                        </div>

                        <div class="output-details row">
                            <div class="col-6-sm offset-6-sm">
                                <h3 data-trans="employeraccount.account">{% trans 'employeraccount.account' %}</h3>
                                {% if period.from_date and period.to_date %}
                                    <h4 data-trans="employeraccount.period" data-trans-params="{{ period|json }}">{{ 'employeraccount.period'|format:period }}</h4>
                                {% elif period.from_date and not period.to_date %}
                                    <h4 data-trans="employeraccount.period_from" data-trans-params="{{ period|json }}">{{ 'employeraccount.period_from'|format:period }}</h4>
                                {% elif not period.from_date and period.to_date %}
                                    <h4 data-trans="employeraccount.period_to" data-trans-params="{{ period|json }}">{{ 'employeraccount.period_to'|format:period }}</h4>
                                {% else %}
                                    <h4 data-trans="employeraccount.period_all">{% trans 'employeraccount.period_all' %}</h4>
                                {% endif %}
                            </div>

                            <div class="output-details row">
                                <div class="col-4-sm offset-6-sm">
                                <table class="dl-table">
                                    <tr>
                                        <th data-trans="employeraccount.number">{% trans 'employeraccount.number' %}</th>
                                        <td>{{ number }}</td>
                                    </tr>
                                    <tr>
                                        <th data-trans="common.dato">{% trans 'common.dato' %}</th>
                                        <td>{{ date }}</td>
                                    </tr>
                                    <tr>
                                        <th data-trans="employeraccount.cvr">{% trans 'employeraccount.cvr' %}</th>
                                        <td>{{ cvr }}</td>
                                    </tr>
                                    <tr>
                                        <th data-trans="employeraccount.yourref">{% trans 'employeraccount.yourref' %}</th>
                                        <td>{{ yourref }}</td>
                                    </tr>
                                    <tr>
                                        <th data-trans="employeraccount.contact">{% trans 'employeraccount.contact' %}</th>
                                        <td>{{ contact }}</td>
                                    </tr>
                                    <tr>
                                        <th data-trans="employeraccount.localnumber">{% trans 'employeraccount.localnumber' %}</th>
                                        <td>{{ localnumber }}</td>
                                    </tr>
                                    <tr>
                                        <th data-trans="employeraccount.payment1">{% trans 'employeraccount.payment1' %}</th>
                                        <td>{{ payment1 }}</td>
                                    </tr>
                                    <tr>
                                        <th data-trans="employeraccount.invoiceaccount">{% trans 'employeraccount.invoiceaccount' %}</th>
                                        <td>{{ account }}</td>
                                    </tr>
                                </table>
                                </div>
                            </div>
                        </div>

                        <div class="employeraccount-data">

                            {% if data and data|length > 0 %}

                                {% if not pdf %}
                                    <select name="columns" multiple="multiple">
                                        {% for field in item.fields %}
                                            {% with "employeraccount."|add:field.name as transkey %}
                                                <option value="{{ field.name }}" {% if not field in form.hidden.value %}selected="selected"{% endif %}>{% trans transkey %}</option>
                                            {% endwith %}
                                        {% endfor %}
                                    </select>
                                {% endif %}

                                <table class="output-table">
                                <thead>
                                <tr>
                                    {% for field in item.fields %}
                                        {% with "employeraccount."|add:field.name as transkey %}
                                            <th data-field="{{ field.name }}" data-trans="{{ transkey }}">{% trans transkey|safe %}</th>
                                        {% endwith %}
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for dataitem in data %}
                                    <tr>
                                        {% for field in item.fields %}
                                            {% with value=dataitem|get:field.name|default:'' %}
                                            <td class="{{ field.class }}" data-original="{{ value }}">
                                            {% if field.number %}
                                                {{ value|number }}
                                            {% else %}
                                                {{ value }}
                                            {% endif %}
                                            </td>
                                            {% endwith %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                                </table>
                            {% else %}
                                <p data-trans="employeraccount.ingenposter">{% trans 'citizenaccount.ingenposter' %}</p>
                            {% endif %}
                        </div>
                        {% if pdf %}
                            <div class="pagefooter"></div>
                        {% endif %}
                    </div>
                </div>
                {% endwith %}
            {% endfor %}
        {% endif %}
    </div>
</article>
{% endblock %}
