{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_headers %}
    {% include 'aka/calendar_headers.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/output.css' %}"/>
{% endblock %}

{% block content %}
<article>

    <h1 class="employeraccount-title">{% trans 'employeraccount.title' %} </h1>

    <div class="employeraccount-main">

        <form method="get" id="mainform">
            {% if form.non_field_errors %}
                <ul class="errorlist">
                    {% for error in form.non_field_errors.as_data %}
                        <li {% if error.code %}data-trans="{{ error.code }}"{% endif %} {% if error.params %}data-trans-params="{{ error.params|json }}"{% endif %}>
                            {% if error.code %}
                                {% trans error.code as error_message %}
                                {{ error_message|format:error.params }}
                            {% else %}
                                {{ error }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="employeraccount-actions row">
                <div class="col-4">
                    {% include 'aka/field.html' with field=form.from_date key='employeraccount.from_date' %}
                </div>
                <div class="col-4">
                    {% include 'aka/field.html' with field=form.to_date key='employeraccount.to_date' %}
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <button type="submit" data-trans="common.send">{% trans 'common.send' %}</button>
                </div>
            </div>
        </form>

        {% if items %}
            <div class="output employeraccount-data">
                <div class="output-actions">
                    <a href="{% url 'arbejdsgiverkonto' %}?from_date={{ form.from_date.value }}&to_date={{ form.to_date.value }}&pdf">Hent som PDF</a>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Posteringstekst</th>
                            <th>Beløb</th>
                            <th>Saldo</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in items %}
                        <tr>
                            <td>{{ item.text }}</td>
                            <td>{{ item.amount }}</td>
                            <td>{{ item.total }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

    </div>
</article>
{% endblock %}
