{% extends 'pdfbase.html' %}
{% load static %}
{% load i18n %}

{% block extra_headers %}
    <style>
        {{ css|safe }}
    </style>
{% endblock %}

{% block content %}
<article>

    <div class="employeraccount-main">
        {% if items %}
            <div class="output employeraccount-data">
                <table>
                    <thead>
                    <tr>
                        <th>Posteringstekst</th>
                        <th>Beløb</th>
                        <th>Saldo</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in items %}
                        <tr>
                            <td>{{ item.text }}</td>
                            <td>{{ item.amount }}</td>
                            <td>{{ item.total }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

    </div>
</article>
{% endblock %}
