{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_headers %}
    <script type="text/javascript" src="{% static 'js/form.js' %}" nonce="{{request.csp_nonce}}"></script>
{% endblock %}

{% block content %}
    <div class="col-xs-12 col-md-12 col-xl-6 offset-xl-3 col-fluid">
    <form method="post">
        {% csrf_token %}

        {% include "aka/util/header.html" with key="nedskrivning.title" %}

        <div class="row block">
            <div class="col-12">
                {% if form.errors %}
                    <p class="err-msg">{% translate 'common.errors_present' %}</p>
                    {% include "aka/util/nonfield_errors.html" with form=form %}
                {% endif %}

                <div class="row">
                    <div class="col-12">
                        {% include 'aka/util/field.html' with field=form.debitor key='nedskrivning.debitor' %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {% include 'aka/util/field.html' with field=form.ekstern_sagsnummer key='nedskrivning.ekstern_sagsnummer' %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {% include 'aka/util/field.html' with field=form.beloeb key='nedskrivning.beloeb' %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {% include 'aka/util/field.html' with field=form.sekvensnummer key='nedskrivning.sekvensnummer' %}
                    </div>
                </div>
                <div class="row footer">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary" data-trans="common.gem">{% translate 'common.gem' %}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
