{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block extra_headers %}
    {% if css %}
    <style>
        {{ css|safe }}
    </style>
    {% endif %}
{% endblock %}

{% block content %}
    <article class="indberet_pension">
        <form method="post" id="mainform" enctype="multipart/form-data">
            {% csrf_token %}
            <h1 data-trans="obligatorisk_pension.title">{% translate 'obligatorisk_pension.title' %}</h1>
            <div class="container-fluid">
                {% if form.errors or formset.errors %}
                    <p class="err-msg">{% translate 'common.errors_present' %}</p>
                    {% include "aka/util/nonfield_errors.html" with form=form %}
                {% endif %}

                {% localize off %}
                <div class="row">
                    <div class="col-12-sm">
                        {% include 'aka/util/field.html' with field=form.skatteår key='obligatorisk_pension.skatteår' %}
                    </div>
                </div>
                {% endlocalize %}

                <div class="row">
                    <div class="col-2-sm">
                        <button type="submit" data-trans="common.næste">{% translate 'common.næste' %}</button>
                    </div>
                </div>
            </div>
        </form>
    </article>
{% endblock %}
