{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_headers %}
    {% include 'aka/util/calendar_headers.html' %}
    <script type="text/javascript" src="{% static 'js/formset.js' %}" nonce="{{request.csp_nonce}}"></script>
    <script type="text/javascript" src="{% url 'fordring:fordringsgrupper-var' var='groups' %}" nonce="{{request.csp_nonce}}"></script>
    <script type="text/javascript" src="{% static 'js/claim.js' %}" nonce="{{request.csp_nonce}}"></script>
    <script type="text/javascript" src="{% static 'js/form.js' %}" nonce="{{request.csp_nonce}}"></script>
    {{ form.media }}
{% endblock %}

{% block content %}
    <div class="col-xs-12 col-md-12 col-xl-6 offset-xl-3 col-fluid">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ formset.management_form }}

        {% include "aka/util/header.html" with key="fordring.title" %}

        <div class="row block">
            <div class="col-12">
            {% if form.errors or formset.errors %}
                <p class="err-msg">{% translate 'common.errors_present' %}</p>
                {% include "aka/util/nonfield_errors.html" with form=form %}
            {% endif %}
            <div class="row">
                <div class="col-12">
                    {% include 'aka/util/field.html' with field=form.fordringshaver2 key='fordring.anden_fordringshaver' %}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {% include 'aka/util/field.html' with field=form.debitor key='fordring.debitor' %}
                </div>
            </div>

            <div class="row">
                <label data-trans="fordring.codebitorer">{% translate 'fordring.codebitorer' %}</label>
                <div class="col-6"><label data-trans="fordring.cpr">{% translate 'fordring.cpr' %}</label></div>
                <div class="col-6"><label data-trans="fordring.cvr">{% translate 'fordring.cvr' %}</label></div>
            </div>
            <div id="codebitorContainer">
                {% for subform in formset %}
                    {% include 'fordring/subform.html' with subform=subform %}
                {% endfor %}
            </div>

            <div class="row">
                <label data-trans="fordring.dokumentation">{% translate 'fordring.dokumentation' %}</label>
                <div class="col-12" id="documentationContainer">
                    {% include 'aka/util/field.html' with field=form.dokumentation key='fordring.dokumentation' %}
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    {% include 'aka/util/field.html' with field=form.fordringsgruppe key='fordring.fordringsgruppe' %}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {% include 'aka/util/field.html' with field=form.fordringstype key='fordring.fordringstype' %}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {% include 'aka/util/field.html' with field=form.barns_cpr key='fordring.barns_cpr' %}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {% include 'aka/util/field.html' with field=form.ekstern_sagsnummer key='fordring.ekstern_sagsnummer' %}
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    {% include 'aka/util/field.html' with field=form.hovedstol key='fordring.hovedstol' %}
                </div>
                <div class="col-8">
                    {% include 'aka/util/field.html' with field=form.hovedstol_posteringstekst key='fordring.posteringstekst' %}
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    {% include 'aka/util/field.html' with field=form.periodestart key='fordring.periodestart' %}
                </div>
                <div class="col-4">
                    {% include 'aka/util/field.html' with field=form.periodeslut key='fordring.periodeslut' %}
                </div>
                <div class="col-4">
                    {% include 'aka/util/field.html' with field=form.forfaldsdato key='fordring.forfaldsdato' %}
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    {% include 'aka/util/field.html' with field=form.betalingsdato key='fordring.betalingsdato' %}
                </div>
                <div class="col-4">
                    {% include 'aka/util/field.html' with field=form.foraeldelsesdato key='fordring.foraeldelsesdato' %}
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    {% include 'aka/util/field.html' with field=form.kontaktperson key='fordring.kontaktperson' %}
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    {% include 'aka/util/field.html' with field=form.noter key='fordring.noter' %}
                </div>
            </div>

            <div class="row footer">
                <div class="col-2">
                    <button type="submit" class="btn btn-primary" data-trans="common.gem">{% translate 'common.gem' %}</button>
                </div>
            </div>

        </div>
        </div>
    </form>
    <div id="codebitorFormsetPrototype" class="hidden">
        {% include 'fordring/subform.html' with subform=formset.empty_form %}
    </div>
</div>
{% endblock %}
