{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_headers %}
    <script type="text/javascript" src="{% static 'js/form.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/payroll.js' %}"></script>
{% endblock %}

{% block content %}
    <article class="indberet_loentraek">
        <form method="post" id="mainform">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <ul class="errorlist">
                    {% for error in form.non_field_errors.as_data %}
                        <li {% if error.code %}data-trans="{{ error.code }}"{% endif %} {% if error.params %}data-trans-params="{{ error.params|json }}"{% endif %}>
                            {% if error.code %}
                                {% trans error.code as error_message %}
                                {{ error_message|format:error.params }}
                            {% else %}
                                {{ error }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {{ formset.management_form }}
            <h1 data-trans="loentraek.title">{% trans 'loentraek.title' %}</h1>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        {% include 'aka/util/field.html' with field=form.year key='loentraek.year' %}
                        {% include 'aka/util/field.html' with field=form.month key='loentraek.month' %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {% include 'aka/util/field.html' with field=form.total_amount key='loentraek.total_amount' %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-3" data-trans="loentraek.cpr">{% trans 'loentraek.cpr' %}</div>
                    <div class="col-3" data-trans="loentraek.agreement_number">{% trans 'loentraek.agreement_number' %}</div>
                    <div class="col-3" data-trans="loentraek.amount">{% trans 'loentraek.amount' %}</div>
                    <div class="col-3" data-trans="loentraek.net_salary">{% trans 'loentraek.net_salary' %}</div>
                </div>
                <div id="formsetContainer">
                    {% for subform in formset %}
                        {% include 'aka/payroll/subform.html' with subform=subform %}
                    {% endfor %}
                </div>
                <button type="button" id="add-row" class="button">+</button>

                <div class="row">
                    <div class="col-2">
                        <button type="submit" data-trans="common.gem">{% trans 'common.gem' %}</button>
                    </div>
                </div>
            </div>
        </form>
        <div id="formsetPrototype" style="display: none">
            {% include 'aka/payroll/subform.html' with subform=formset.empty_form %}
        </div>
    </article>
{% endblock %}
