{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_headers %}
{% endblock %}

{% block content %}
<article class="indberet_nedskrivning">
    <form method="post">
        {% csrf_token %}
        <h1 class="page-header" data-trans="nedskrivning.title">{% trans 'nedskrivning.title' %}</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col-4">
                    {% include 'aka/util/field.html' with field=form.debitor key='nedskrivning.debitor' %}
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    {% include 'aka/util/field.html' with field=form.ekstern_sagsnummer key='nedskrivning.ekstern_sagsnummer' %}
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    {% include 'aka/util/field.html' with field=form.beloeb key='nedskrivning.beloeb' %}
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    {% include 'aka/util/field.html' with field=form.sekvensnummer key='nedskrivning.sekvensnummer' %}
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <button type="submit" data-trans="common.gem">{% trans 'common.gem' %}</button>
                </div>
            </div>
        </div>
    </form>
</article>
{% endblock %}
