{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load aka_tags %}

{% block extra_headers %}
{% endblock %}

{% block content %}
<article class="success">
    <form>
        {% if rec_ids %}
        <h1 class="page-header" data-trans="nedskrivning.success">{% translate 'nedskrivning.success' %}</h1>
        {% else %}
        <h1 class="page-header" data-trans="nedskrivning.failed">{% translate 'nedskrivning.failed' %}</h1>
        {% endif %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    {% if rec_ids %}
                        <span data-trans="nedskrivning.result">{% translate 'nedskrivning.result' %}</span>
                        <ul class="success-list">
                            {% for rec_id in rec_ids %}
                                <li>{{ rec_id }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if errors %}
                        <span data-trans="nedskrivning.errors">{% translate 'nedskrivning.errors' %}</span>
                        <ul class="error-list">
                        {% for error in errors %}
                            {% translate error.key as error_message %}
                            <li data-trans="{{ error.key }}" data-trans-params="{{ error.params|json }}">{{ error_message|format:error.params }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {% if pdf_id %}
                    <a href="{% url 'aka:nedskrivning-kvittering' pdf_id=pdf_id %}" class="button" data-trans="nedskrivning.get_receipt" target="_blank">{% translate 'nedskrivning.get_receipt' %}</a>
                    {% endif %}
                    {% if upload %}
                        <a href="{% url 'aka:nedskrivning-upload' %}" class="button"  data-trans="common.repeat">{% translate 'common.repeat' %}</a>
                    {% else %}
                        <a href="{% url 'aka:nedskrivning' %}" class="button"  data-trans="common.repeat">{% translate 'common.repeat' %}</a>
                    {% endif %}
                    <a href="{% url 'aka:index' %}" class="button" data-trans="common.forside">{% translate 'common.forside' %}</a>
                </div>
            </div>
        </div>
    </form>
</article>
{% endblock %}
