{% load i18n %}
{% if form.non_field_errors %}
    <ul class="errorlist">
        {% for error in form.non_field_errors.as_data %}
            <li {% if error.code %}data-trans="{{ error.code }}"{% endif %} {% if error.params %}data-trans-params="{{ error.params|json }}"{% endif %}>
                {% if error.code %}
                    {% translate error.code as error_message %}
                    {{ error_message|format:error.params }}
                {% else %}
                    {{ error }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}
